{{ 'section-bundle.css' | asset_url | stylesheet_tag }}
{{ 'section-glove.css' | asset_url | stylesheet_tag }}
{{ 'bundle-products.css' | asset_url | stylesheet_tag }}
{{ 'section-bundle-glove.css' | asset_url | stylesheet_tag }}
{{ 'section-popup.css' | asset_url | stylesheet_tag }}


<style>
  .upcart-product-title-link{
    font-family: "Anton" !important;
  }
  @media(max-width: 768px){
    .header__heading-link{
      margin-left: -100px;
    }
  }
  #tidio-chat{
        display: none !important;
    }
  .header--middle-left{
    grid-template-areas: "heading icons";
    grid-template-columns: 1fr 1fr;
  }
  .button-menu,
  .header__inline-menu{
    display: none;
  }

  .header__heading-logo-wrapper{
    width: 60px;
  }

  @media (max-width: 768px){
    .my-sticky{
      z-index: 100000002 !important;
    }
  }
</style>

<script src="https://cdn.tailwindcss.com"></script>
{% assign url_path = request.path %}
{% assign segments = url_path | split: '/' %}
{% assign last_index = segments.size | minus: 1 %}
{% assign box_size = segments[last_index] %}

{% assign box = shop.metaobjects.box_products[box_size] %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<section class="bundle-product bg-transparent undefined page-width" id="build-bundle-product">
  <div
    class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin"
    style="margin-top: 0;"
  >
    <h2 class="title inline-richtext h1 text-center" style="margin: auto;">{{ section.settings.title }}</h2>
  </div>
  <div class="relative w-full mx-auto py-6 lg:py-8">
    <div class="grid grid-cols-1 grid-rows-1 items-start gap-6 min-h-96 lg:grid-cols-4 text-foreground flexinmobilefix">
      <div class="flex flex-col col-span-2 w-full">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-x-5 gap-y-10 items-stretch">
          {% for product in section.settings.collection.products %}
            {% assign has_available_variant = false %}
            {% assign product_name = product.title | split: ' (' | first %}

            {% for variant in product.variants %}
                {% if variant.available %}
                    {% assign has_available_variant = true %}
                    {% break %}
                {% endif %}
            {% endfor %}
    
            {% if has_available_variant %}
                <div class="section-glove__item">
                    {% if product.tags contains 'fingersave' %}
                        <span class="card-top-badge">Fingersave</span>
                    {% elsif product.tags contains 'best-seller' %}
                        <span class="card-top-badge">Best Seller</span>
                    {% elsif product.tags contains 'new-in' %}
                        <span class="card-top-badge">New In</span>
                    {% endif %}
                    <div class="section-glove__image">
                        <img data-buttonPopup="{{ product.id }}" src="{{ product.images[0] | img_url: 'medium' }}" alt="{{ product.title }}" />
                    </div>
                    <div class="loox-rating"
                        data-id="{{ product.id }}"
                        data-rating="{{ product.metafields.loox.avg_rating }}"
                        data-raters="{{ product.metafields.loox.num_reviews }}">
                    </div>
                    <p class="section-glove__caption">{{ product.title }}</p>
                    <p class="section-glove__type">{{ product.metafields.custom.glove_type }}</p>
                    <div class="section-glove__wrapp">
                        <select name="variant-id" class="section-glove__select">
                            {% for variant in product.variants %}
                                <option 
                                    value="{{ variant.id }}" 
                                    data-price="{{ variant.price | money | strip_html }}"
                                    {% unless variant.available %}disabled{% endunless %}
                                >
                                    {{ variant.option1 }}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="section-glove__button">
                            Add | {{ product.price | money }}
                        </button>
                    </div>
                    <div id="popup-{{ product.id }}" class="popup">
                      <div class="popup__content relative">
                        
                        <div class="popup__images">
                          {% for image in product.images %}
                            <img src="{{ image | img_url: '800x' }}" alt="{{ product.title }}" class="popup__image">
                          {% endfor %}
                        </div>

                        <div class="popup__starst">
                          {% for i in (1..5) %}
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="..." fill="#D75555" />
                            </svg>
                          {% endfor %}
                        </div>

                        <div class="popup__wrapper">
                          <h2 class="popup__title">{{ product.title }}</h2>
                          {% if product.type == "glove" %}
                            <span class="popup__subtitle">{{ product.metafields.custom.glove_type }}</span>
                          {% endif %}
                        </div>

                        <h3 class="popup__price">{{ product.price | money }}</h3>

                        <h4 class="popup__color">COLOUR :</h4>
                        <ul class="popup__list">
                          {% assign current_title_first_word = product.title | split: ' ' | first %}

                          {% for p in collections.all.products %}
                            {% assign other_title_first_word = p.title | split: ' ' | first %}
                            {% if other_title_first_word == current_title_first_word %}
                              <li class="popup__item">
                                <button data-productId="{{ p.id }}" class="popup__button">
                                  <img src="{{ p.featured_image | img_url: '100x' }}" alt="photo">
                                </button>
                              </li>
                            {% endif %}
                          {% endfor %}
                        </ul>

                        <div class="popup__wrap">
                          <h4 class="popup__size">SIZE: <span class="selected-size"></span></h4>
                          <!--
                          <button class="popup__modal-button" data-modal="{{ product.id }}">
                            HELP ME CHOOSE
                          </button>
                          <div id="helpchoose-{{ product.id }}" class="popup__help">
                            <div class="popup__help-content">
                              <button data-modal="{{ product.id }}" class="popup__help-close">
                                ×
                              </button>
                              <h1 class="popup__help-title">Size Guide</h1>
                              {{ pages.size-guide.content }}
                            </div>
                          </div>
                          -->
                        </div>

                        <div class="popup__sizes">
                          {% for variant in product.variants %}
                            {% if variant.available %}
                              <button class="popup__btn" data-variant-id="{{ variant.id }}">
                                {{ variant.option1 }}
                              </button>
                            {% else %}
                              <button class="popup__btn" disabled>
                                {{ variant.option1 }}
                              </button>
                            {% endif %}
                          {% endfor %}
                        </div>

                        <div class="popup__container">
                          <select class="popup__quantity-selector" name="quantity">
                            {% for i in (1..6) %}
                              <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                          </select>
                          <button
                            class="popup__submit"
                            data-variant-id="{{ product.variants.first.id }}"
                            data-product-title="{{ product.title }}"
                            data-product-type="{{ product.type }}"
                            data-product-image="{{ product.featured_image | img_url: 'medium' }}"
                          >Add to Bundle</button>
                        </div>

                        <button class="popup__close">×</button>
                      </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="col-span-2 h-full flex flex-col justify-stretch w-full">
        <div class="h-auto  max-h-screen -my-6 py-6  transition-all duration-100">
          <div class="md:p-[32px] rounded-[8px] border-border text-card-foreground md:shadow-sm flex flex-col items-stretch justify-between col-span-1 bg-card bg-cardwrap">
            <div class="text-[16px] text-[#121212] mb-[25px] font-bold">
              Step 1: Choose bundle size
            </div>
            <div class="flex flex-col min-h-0">
              <ul class="section-product__products">
                  <li class="section-product__item">
                      <h3 class="section-product__item-title">1 Pair</h3>
                      <div class="section-product__item-photo">
                          <img src="{{ section.settings.glove-1-pair-photo | img_url: 'original' }}" alt="pair">
                      </div>
                      <div class="section-product__item-wrapper">
                          <p class="section-product__item-price">
                            {% if cart.currency.iso_code == "USD" %}
                                $89.99
                            {% elsif cart.currency.iso_code == "EUR" %}
                                €62.21
                            {% else %}
                                £52.99
                            {% endif %}
                          </p>
                      </div>
                  </li>  
                  <li class="section-product__item">
                      <div class="section-product__item-popular">MOST POPULAR</div>
                      <h3 class="section-product__item-title">2 Pair</h3>
                      <div class="section-product__item-photo">
                          <img src="{{ section.settings.glove-2-pair-photo | img_url: 'original' }}" alt="pair">
                      </div>
                      <div class="section-product__item-wrapper">
                          <p class="section-product__item-price">
                            {% if cart.currency.iso_code == "USD" %}
                                $129.99
                            {% elsif cart.currency.iso_code == "EUR" %}
                                €105.66
                            {% else %}
                                £90.00
                            {% endif %}
                          </p>
                          <p class="section-product__item-discount"><span>SAVE</span> 25%</p>
                      </div>
                  </li>  
                  <li class="section-product__item active">
                      <div class="section-product__item-best">BEST VALUE</div>
                      <h3 class="section-product__item-title">3 Pair</h3>
                      <div class="section-product__item-photo">
                          <img src="{{ section.settings.glove-3-pair-photo | img_url: 'original' }}" alt="pair">
                      </div>
                      <div class="section-product__item-wrapper">
                          <p class="section-product__item-price">
                            {% if cart.currency.iso_code == "USD" %}
                                $169.99
                            {% elsif cart.currency.iso_code == "EUR" %}
                                €140.88
                            {% else %}
                                £120
                            {% endif %}
                          </p>
                          <p class="section-product__item-discount"><span>SAVE</span> 53%</p>
                      </div>
                  </li>  
              </ul>
              <div class="section-product__inscription">
                  <span class='section-product__bold'>Awesome!</span> You’ve Unlocked <span class='section-product__circle'>3</span> FREE Gifts
              </div>
              <ul class="section-product__list">
                  <li class="section-product__option active">
                      <div class="section-product__option-photo">
                          <img src="{{ section.settings.glove-1-gift-photo | img_url: 'original' }}" alt="photo">
                      </div>
                      <h3 class="section-product__option-title">{{ section.settings.glove-1-gift-title }}</h3>
                      <p class="section-product__option-discount">You saved
                        {% if cart.currency.iso_code == "USD" %}
                            $9.99
                        {% else %}
                            £7.00
                        {% endif %}
                      </p>
                      <div class="section-product__icon">
                          {% render 'gift-lock' %}
                      </div>
                  </li>
                  <li class="section-product__option active">
                      <div class="section-product__option-photo">
                          <img src="{{ section.settings.glove-2-gift-photo | img_url: 'original' }}" alt="photo">
                      </div>
                      <h3 class="section-product__option-title">{{ section.settings.glove-2-gift-title }}</h3>
                      <p class="section-product__option-discount">You saved
                        {% if cart.currency.iso_code == "USD" %}
                            $19.99
                        {% else %}
                            £19.99
                        {% endif %}</p>
                      <div class="section-product__icon">
                          {% render 'gift-lock' %}
                      </div>
                  </li>
                  <li class="section-product__option active">
                      <div class="section-product__option-photo">
                          <img src="{{ section.settings.glove-3-gift-photo | img_url: 'original' }}" alt="photo">
                      </div>
                      <h3 class="section-product__option-title">{{ section.settings.glove-3-gift-title }}</h3>
                      <p class="section-product__option-discount">You saved
                        {% if cart.currency.iso_code == "USD" %}
                            $14.99
                        {% else %}
                            £9.99
                        {% endif %}</p>
                      <div class="section-product__icon">
                          {% render 'gift-lock' %}
                      </div>
                  </li>
              </ul>

              <div class="text-[16px] text-[#121212] font-bold block md:hidden">
                Step 2: Choose your gloves
              </div>

              <div class="asdsasd" id="fixedpart">
                <div class="my-sticky md:block flex justify-between items-center">
                  <h4 class="text-[24px] text-[#000000] text-center mt-[25px] mb-[20px] md:block hidden">Your Bundle</h4>
                  <div
                    id="bundle-products"
                    class="bundle-products flex md:gap-[20px] justify-center md:mb-[25px]"
                  ></div>
                  <div class="flex flex-col gap-[8px]">
                    <button
                      type="button"
                      id="add-to-cart-button"
                      class="bg-[#D75555] opacity-75 rounded-[6px] text-white text-[22px] md:py-[20px] py-[5px] px-[5px] max-w-[400px] w-full mx-auto uppercase"
                    >
                      Add 3 More Items
                    </button>
                    <div class="align-center justify-center gap-[8px] md:flex hidden">
                      <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m6.625 11.958 4.708-4.708-1.187-1.187-3.521 3.52-1.75-1.75-1.187 1.188zm.875 5.375q-2.895-.729-4.781-3.322Q.833 11.416.833 8.25V3.166L7.5.667l6.667 2.5V8.25q0 3.166-1.886 5.76-1.885 2.595-4.781 3.323m0-1.75q2.166-.687 3.583-2.75A7.9 7.9 0 0 0 12.5 8.25V4.313l-5-1.875-5 1.875V8.25q0 2.52 1.417 4.583 1.416 2.063 3.583 2.75" fill="#121212"/>
                      </svg>
                      <span class="text-[#121212] text-[14px] risktext"
                        >TRY 100% RISK FREE WITH OUR 10 GAME GUARANTEE</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rounded-[6px] border border-[#B2B2B2] grid grid-cols-3 py-[12px] mt-[20px] hideinmobile">
            <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
              <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.875 23.25a2.625 2.625 0 1 0 0-5.25 2.625 2.625 0 0 0 0 5.25ZM7 23.25A2.625 2.625 0 1 0 7 18a2.625 2.625 0 0 0 0 5.25Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M4.375 20.625H3.5A2.625 2.625 0 0 1 .875 18V4A2.625 2.625 0 0 1 3.5 1.375H14A2.625 2.625 0 0 1 16.625 4v16.625h-7m9.625 0h-2.625V8.375h6.125l4.375 5.396V18a2.625 2.625 0 0 1-2.625 2.625m2.625-7h-10.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              <span class="text-[#121212] text-[16px]">Fast Shipping</span>
            </div>
            <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
              <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.625 24.5A2.625 2.625 0 0 1 25 27.125H4A2.625 2.625 0 0 1 1.375 24.5V8.75A2.625 2.625 0 0 1 4 6.125h21a2.625 2.625 0 0 1 2.625 2.625zM4 6.125 15.083.948M25 6.125l-5.76-4.01" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M19.75 6.125v8.75L18 14l-1.75.875L14.5 14l-1.75.875L11 14l-1.75.875v-8.75M5.75 19.25h7m-7 3.5h3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              <span class="text-[#121212] text-[16px]">30-Days Returns</span>
            </div>
            <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
              <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 27.125S1.125 22.313 1.125 17.5V6.125c0-2.023 1.02-3.19 2.625-3.5L12.5.875l8.75 1.75c1.605.31 2.625 1.477 2.625 3.5V17.5c0 4.813-11.375 9.625-11.375 9.625Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="m7.444 14.3 4.075 4.075 6.037-6.037M1.125 9.625c0-2.023 1.02-3.19 2.625-3.5l8.75-1.75 8.75 1.75c1.605.31 2.625 1.477 2.625 3.5M12.5.875v3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              <span class="text-[#121212] text-[16px]">Satisfaction Guarantee</span>
            </div>
          </div>
          <div class="mt-[40px] rounded-[6px] bg-[#F0F0F0] p-[16px] md:p-[32px] reviewpart">
            <svg
              class="mx-auto"
              width="112"
              height="24"
              viewBox="0 0 112 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="m6.575 19.962 1.433-6.17L3.22 9.644l6.316-.548L12 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L12 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L34 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L34 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L56 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L56 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L78 3.28l2.463 5.817 6.316.548-4.787 4.148 1.433 6.17L78 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L100 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L100 16.689z" fill="#D75555"/>
            </svg>
            <p class=" pt-[8px] pb-[20px] m-0 text-center text-black text-[20px]">Best gloves 🧤</p>
            <p class="text-center text-[16px] text-[#121212] mt-0 mb-[24px]">
              Fantastic gloves. Having tried many brands over the last 6 years for my young goalie these are the ones
              that lasted the longest. Fantastic grip which massively improved his ball control. Fab communication when
              deciding on sizes and super quick delivery.
            </p>
            <p class="text-center text-[#121212] text-[16px] m-0 ">Kayleigh Small</p>
            <div class="flex items-center justify-center gap-[6px]">
              <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.843 17.221-1.487-2.506-2.824-.619.276-2.907L.894 9l1.914-2.19-.276-2.906 2.824-.619L6.843.78 9.5 1.907 12.157.78l1.487 2.506 2.824.619-.276 2.907L18.106 9l-1.914 2.188.276 2.907-2.824.619-1.487 2.506L9.5 16.093zm1.782-5.551 4.42-4.42-.878-.904-3.542 3.542-1.792-1.766L5.955 9z" fill="#D75555"/>
              </svg>
              <span class="text-[#121212] text-[16px]">Verified Reviewer</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form id="bundle_form" action="/cart/add" method="post"></form>

    <div class="rounded-[6px] border border-[#B2B2B2] grid grid-cols-3 py-[12px] mt-[20px] hideindesktop">
      <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
        <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.875 23.25a2.625 2.625 0 1 0 0-5.25 2.625 2.625 0 0 0 0 5.25ZM7 23.25A2.625 2.625 0 1 0 7 18a2.625 2.625 0 0 0 0 5.25Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M4.375 20.625H3.5A2.625 2.625 0 0 1 .875 18V4A2.625 2.625 0 0 1 3.5 1.375H14A2.625 2.625 0 0 1 16.625 4v16.625h-7m9.625 0h-2.625V8.375h6.125l4.375 5.396V18a2.625 2.625 0 0 1-2.625 2.625m2.625-7h-10.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <span class="text-[#121212] text-[16px]">Fast Shipping</span>
      </div>
      <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.625 24.5A2.625 2.625 0 0 1 25 27.125H4A2.625 2.625 0 0 1 1.375 24.5V8.75A2.625 2.625 0 0 1 4 6.125h21a2.625 2.625 0 0 1 2.625 2.625zM4 6.125 15.083.948M25 6.125l-5.76-4.01" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M19.75 6.125v8.75L18 14l-1.75.875L14.5 14l-1.75.875L11 14l-1.75.875v-8.75M5.75 19.25h7m-7 3.5h3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <span class="text-[#121212] text-[16px]">30-Days Returns</span>
      </div>
      <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
        <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5 27.125S1.125 22.313 1.125 17.5V6.125c0-2.023 1.02-3.19 2.625-3.5L12.5.875l8.75 1.75c1.605.31 2.625 1.477 2.625 3.5V17.5c0 4.813-11.375 9.625-11.375 9.625Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="m7.444 14.3 4.075 4.075 6.037-6.037M1.125 9.625c0-2.023 1.02-3.19 2.625-3.5l8.75-1.75 8.75 1.75c1.605.31 2.625 1.477 2.625 3.5M12.5.875v3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <span class="text-[#121212] text-[16px]">Satisfaction Guarantee</span>
      </div>
    </div>
  </div>
</section>

<div data-popup-image class="data-popup-image opacity-0 pointer-events-none">
  <button data-prev class="absolute top-2/4 translate-y-[-50%] left-[5px] text-white prev">
    <img class="rotate-180" src="{{ 'arrow-black.svg' | asset_url }}" alt="">
  </button>
  <img id="image" src="" alt="">
  <button data-next class="absolute top-2/4 translate-y-[-50%] right-[5px] text-white next">
    <img src="{{ 'arrow-black.svg' | asset_url }}" alt="">
  </button>
</div>

{{ 'bundle-products.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Custom box builder",
  "class": "j-box-builder-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "id": "page",
      "type": "page",
      "label": "t:sections.main-product.blocks.popup.settings.page.label"
    },
    {
            "id": "glove-1-pair-photo",
            "type": "image_picker",
            "label": "1 Pair photo"
        },
        {
            "id": "glove-1-pair-price",
            "type": "text",
            "label": "1 Pair price",
            "default": "£52.99"
        },
        {
            "id": "glove-1-pair-discount",
            "type": "text",
            "label": "1 Pair discount"
        },
        {
            "id": "glove-2-pair-photo",
            "type": "image_picker",
            "label": "2 Pair photo"
        },
        {
            "id": "glove-2-pair-price",
            "type": "text",
            "label": "2 Pair price",
            "default": "£90"
        },
        {
            "id": "glove-2-pair-discount",
            "type": "text",
            "label": "2 Pair discount",
            "default": "SAVE 25%"
        },
        {
            "id": "glove-3-pair-photo",
            "type": "image_picker",
            "label": "3 Pair photo"
        },
        {
            "id": "glove-3-pair-price",
            "type": "text",
            "label": "3 Pair price",
            "default": "£120"
        },
        {
            "id": "glove-3-pair-discount",
            "type": "text",
            "label": "3 Pair discount",
            "default": "SAVE 53%"
        },
    {
            "id": "glove-1-gift-photo",
            "type": "image_picker",
            "label": "1 Gift photo"
        },
        {
            "id": "glove-1-gift-title",
            "type": "text",
            "label": "1 Gift title",
            "default": "Free Shipping"
        },
        {
            "id": "glove-1-gift-subtitle",
            "type": "text",
            "label": "1 Gift subtitle",
            "default": "You saved £7.00"
        },
        {
            "id": "glove-2-gift-photo",
            "type": "image_picker",
            "label": "2 Gift photo"
        },
        {
            "id": "glove-2-gift-title",
            "type": "text",
            "label": "2 Gift title",
            "default": "Free Gift"
        },
        {
            "id": "glove-2-gift-subtitle",
            "type": "text",
            "label": "2 Gift subtitle",
            "default": "You saved £19.99"
        },
        {
            "id": "glove-3-gift-photo",
            "type": "image_picker",
            "label": "3 Gift photo"
        },
        {
            "id": "glove-3-gift-title",
            "type": "text",
            "label": "3 Gift title",
            "default": "Goalkeeper Workout Plan"
        },
        {
            "id": "glove-3-gift-subtitle",
            "type": "text",
            "label": "3 Gift subtitle",
            "default": "You saved £9.99"
        }
  ],
  "presets": [
    {
      "name": "Custom box builder"
    }
  ]
}
{% endschema %}
