{{ 'section-bundle-products.css' | asset_url | stylesheet_tag }}
{{ 'section-glove.css' | asset_url | stylesheet_tag }}
{{ 'personalization.css' | asset_url | stylesheet_tag }}
{{ 'bundle-products.css' | asset_url | stylesheet_tag }}

<style>
  .upcart-product-title-link{
    font-family: "Anton" !important;
  }
  @media(max-width: 768px){
    .header__heading-link{
      margin-left: -100px;
    }
  }
  .header__heading-logo-wrapper img{
    width: 60px;
  }
  #tidio-chat{
        display: none !important;
    }
</style>

<div class="fixed top-0 left-0 w-full bg-white z-[1000] hidden">
  <div class="page-width flex justify-between py-[25px] px-[30px]">
    <a href="/">
      <img src="{{ 'logo-black.svg' | asset_url }}" alt="">
    </a>
    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
  </div>
</div>

<script src="https://cdn.tailwindcss.com"></script>
{% assign url_path = request.path %}
{% assign segments = url_path | split: '/' %}
{% assign last_index = segments.size | minus: 1 %}
{% assign box_size = segments[last_index] %}

{% assign box = shop.metaobjects.box_products[box_size] %}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<section class="bundle-product bg-transparent undefined page-width" id="build-bundle-product">
  <div
    class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin"
    style="margin-top: 0;"
  >
    <h2 class="title inline-richtext h1 text-center" style="margin: auto;">{{ section.settings.title }}</h2>
  </div>
  <div class="relative w-full mx-auto py-6 lg:py-8">
    <div class="grid grid-cols-1 grid-rows-1 items-start gap-6 min-h-96 lg:grid-cols-4 text-foreground flexinmobilefix">
      <div class="flex flex-col col-span-2 w-full">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-x-5 gap-y-10 items-stretch">
          {% for product in section.settings.collection.products %}
            {% assign has_available_variant = false %}
            {% assign product_name = product.title | split: ' (' | first %}

            {% for variant in product.variants %}
                {% if variant.available %}
                    {% assign has_available_variant = true %}
                    {% break %}
                {% endif %}
            {% endfor %}
    
            {% if has_available_variant %}
                <div class="product-container border-solid border-[1px] border-[#B9B9B9] rounded-[5px] md:p-[10px] p-[5px]"
                    id="product-{{ product.id }}">
                    <div class="glove">
                        <div class="bg-[#F0F0F0] mb-[5px] h-[150px]">
                            <img
                                class="w-full h-full object-contain"
                                alt="{{ product.title }}"
                                src="{{ product.images.first | img_url: 'master' }}"
                            >
                        </div>
                        <button
                            class="open-modal bg-[#D75555] rounded-[5px] outline-none w-full product-button text-white md:text-[14px] text-[12px] p-[5px] mb-[5px] font-arial"
                            data-modal="#PopupModal-{{ product.id }}"
                        >
                            ADD +
                        </button>
                        <h2 class="font-anton md:text-[16px] text-[12px] titleproductcard uppercase mb-[5px] overflow-hidden text-ellipsis whitespace-nowrap">{{ product.title }}</h2>
                        <h3 class="font-bold md:text-[12px] text-[10px] text-[#3A3A3A] uppercase mb-[5px] tracking-tighter font-arial">{{ product.metafields.custom.glove_type }}</h3>
                        <div class="variant-price md:text-[16px] text-[12px] font-bold">{{ product.price | money }}</div>
                    </div>
        
                    <div
                        id="PopupModal-{{ product.id }}"
                        class="popup-modal hidden bg-black/50"
                    >
                        <div class="bg-white p-[20px] rounded-lg shadow-lg popup-content relative">
                            <div class="popup-images">
                                {% for image in product.images %}
                                    <img
                                        src="{{ image | img_url: 'master' }}"
                                        alt="Product image {{ forloop.index }}"
                                        class="popup-image"
                                    >
                                {% endfor %}
                            </div>
                            <div class="stars">
                                {% for _ in (1..5) %}
                                    <img src="{{ 'star-yellow.svg' | asset_url }}" alt="star">
                                {% endfor %}
                            </div>
                            <div class="mb-[5px] pt-4 w-full flex items-center justify-between">
                                <h2 class="font-anton text-[18px] md:text-[20px] uppercase">{{ product.title }}</h3>
                                <span class="text-[9px] md:text-[11px] font-bold">
                                  {{ product.metafields.custom.glove_type }}
                                </span>
                            </div>
                            <h3 class="mb-[12px] md:text-[15px] font-bold variant-price tracking-tight">{{ product.price | money }}</h3>
                            <h4 class="text-[12px] md:text-[14px] mb-[5px] font-bold leading-[24px] font-arial">COLOUR :</h4>
                            <ul class="product-list gap-x-[5px] product-pink md:mb-[20px] mb-[15px]">
                                {% for product in section.settings.collection.products %}
                                    {% assign glove_name = product.title | split: ' (' | first %}
                                    {% if glove_name == product_name %}
                                        <li class="product-item {% if product.url == request.path %}active{% endif %}">
                                            <button data-id="#PopupModal-{{ product.id }}" class="button-color w-full h-full">
                                                <img
                                                    src="{{ product.featured_image.src | img_url: 'medium' }}"
                                                    class="product-image"
                                                    alt="{{ product.featured_image.alt }}"
                                                >
                                            </button>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <div class="flex justify-between items-center mb-[5px]">
                                <h4 class="md:text-[14px] text-[12px] font-extrabold font-arial">
                                    SIZE: <span id="selected-size" class="selected-size md:text-[14px] text-[12px] font-extrabold"></span>
                                </h4>
                                <button
                                    id="ProductPopup-{{ forloop.index }}"
                                    class="product-popup-modal__button open-help-choose underline md:text-[15px] text-[11px] text-[#536872] font-bold font-arial"
                                    type="button"
                                    data-modal="#HelpChoose-{{ forloop.index }}"
                                >
                                    HELP ME CHOOSE
                                </button>
                                <div id="HelpChoose-{{ forloop.index }}" class="hidden absolute top-0 left-0 help-choose z-[50000000] w-full h-full bg-black/50
                                    flex items-center justify-center">
                                    <div class="max-w-[600px] w-full bg-white sm:rounded-[10px] p-[5px] help-content relative">
                                        <button
                                            data-modal="#HelpChoose-{{ forloop.index }}"
                                            class="w-[20px] close-help-choose absolute md:right-[10px] right-[20px] top-[10px] text-black"
                                        >
                                            {% render 'icon-close' %}
                                        </button>
                                        <h1 class="text-center font-anton text-[24px] my-[10px]">Size Guide</h1>
                                        {{ section.settings.page.content }}
                                    </div>
                                </div>
                            </div>
                            <div class="flex md:gap-[10px] gap-x-[5px] md:mb-[20px] mb-[15px] data-sizes">
                                {% for variant in product.variants %}
                                    {% if variant.available %}
                                        <button
                                            class="size-option p-4 flex-1 text-[14.82px] border-solid border-[1px] border-[#B2B2B2] rounded-[5px] transition-colors duration-200 font-arial"
                                            data-variant-id="{{ variant.id }}"
                                        >
                                            {{ variant.option1 }}
                                        </button>
                                    {% else %}
                                        <button
                                            class="size-option p-4 flex-1 text-[14.82px] border-solid border-[1px] border-[#B2B2B2] rounded-[5px] transition-colors duration-200 font-arial
                                                relative before:absolute before:content-[''] before:top-0 before:left-0 before:w-full before:h-full before:bg-black/10 after:absolute
                                                after:content-[''] after:top-2/4 after:left-2/4 after:translate-x-[-50%] after:translate-y-[-50%] after:w-[20px] after:h-[1px]
                                                after:bg-black"
                                            disabled
                                        >
                                            {{ variant.option1 }}
                                        </button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="personalization-box  mb-[25px]">
                                <div class="personalization-box__container">
                                    <div class="toggle">
                                        <div class="personalization-box__wrap">
                                            <img class="w-[25px]" src="{{ 'edit.svg' | asset_url }}" alt="edit">
                                            <span class="md:text-[12px] text-[10px]">ADD PERSONALISATION</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="personalization-box personalization-drawer hidden">
                                    <form>
                                        <div class="pt-[10px]">
                                            <div class="flex justify-between items-center mb-[5px]">
                                                <div class="flex items-center gap-x-[15px]">
                                                    <label for="personalization">Name and number printed</label>
                                                    <span>£7</span>
                                                </div>
                                                <div data-close-icon class="close-icon flex items-center justify-center">
                                                    <svg
                                                        width="28"
                                                        height="28"
                                                        viewBox="0 0 28 28"
                                                        fill="none"
                                                        xmlns="http://www.w3.org/2000/svg"
                                                    >
                                                        <mask id="mask0_44_569" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="28" height="28">
                                                            <rect width="28" height="28" fill="#D9D9D9"/>
                                                        </mask>
                                                        <g mask="url(#mask0_44_569)">
                                                            <path d="M7.46671 22.1667L5.83337 20.5334L12.3667 14L5.83337 7.46671L7.46671 5.83337L14 12.3667L20.5334 5.83337L22.1667 7.46671L15.6334 14L22.1667 20.5334L20.5334 22.1667L14 15.6334L7.46671 22.1667Z" fill="#1C1B1F"/>
                                                        </g>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="personalization-box__column">
                                                <input
                                                    required
                                                    type="text"
                                                    data-personalization
                                                    maxlength="12"
                                                    form="{{ product_form_id }}"
                                                    name="properties[Name and number printed]"
                                                    placeholder="12 characters only"
                                                >
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="flex gap-x-[10px]">
                                <select
                                    id="quantity-selector"
                                    class="quantity-selector min-w-[60px] h-[50px] p-2 text-center border-solid border-[1px] border-[#3A3A3A] rounded-[5px]"
                                >
                                    {% for i in (1..10) %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
            
                                <button
                                    class="add-in-bundle add-to-cart-button bg-[#D75555] text-white p-[15px] rounded-[5px] w-full text-center
                                    uppercase font-anton"
                                    data-variant-id="{{ product.variants.first.id }}"
                                    data-product-id="{{ product.id }}"
                                    data-product-title="{{ product.title }}"
                                    data-product-type="{{ product.metafields.custom.glove_type }}"
                                    data-product-image="{{ product.images.first | img_url: 'master' }}"
                                >
                                    Add to Bundle
                                </button>
                            </div>
                            <button class="absolute top-[10px] right-[15px] close-popup-modal bg-black/10 rounded-full p-[7px] block">
                                {% render 'icon-close' %}
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
      </div>
      <div class="col-span-2 h-full flex flex-col justify-stretch w-full">
        <div class="h-auto  max-h-screen -my-6 py-6  transition-all duration-100">
          <div class="md:p-[32px] rounded-[8px] border-border text-card-foreground md:shadow-sm flex flex-col items-stretch justify-between col-span-1 bg-card bg-cardwrap">
            <div class="text-[16px] text-[#121212] mb-[25px] font-bold">
              Step 1: Choose bundle size
            </div>
            <div class="flex flex-col min-h-0">
              <!--
              <div class="flex flex-col gap-4 md:flex-row mt-[20px] gapFix">
                {% assign boxes = shop.metaobjects.box_products.values | reverse %}
                {% for box in boxes %}
                  {% liquid
                    assign opacity = 75
                    assign boxCheck = false
                    assign borderWidth = 0
                    assign borderColor = ''
                    assign selectedClass = 'bundle_option'
                    assign lower_box_size = box_size | downcase | strip
                    assign lower_box_title = box.title | downcase | strip
                    if forloop.last
                      assign opacity = 100
                      assign borderWidth = 1
                      assign borderColor = '#D75555'
                      assign boxCheck = 'checked'
                      assign selectedClass = 'bundle_option selected'
                    endif
                  %}
                  <div data-plan class="w-full align-middle peer-disabled:cursor-not-allowed min-w-48 {{ selectedClass }}">
                    <label for="{{ box.title | downcase }}">
                      <div
                        style="text-align:center;padding:7px;"
                        class="relative border shadow-sm px-4 py-[20px] w-full group/radio items-center gap-1 text-sm transition-all duration-200 justify-between bg-card border-muted-foreground text-muted-foreground bg-[#ffffffb3] rounded-t-[6px] hover:bg-accent cursor-pointer"
                      >
                        {% if box.poppins %}
                          <div
                            style="text-align:center;"
                            class="left-[50%] -translate-x-[50%] w-full max-w-[90%] mx-auto absolute text-center text-[16px] font-[600] leading-[22px] text-white -top-[27px] bg-[{{ box.poppins_background }}] p-[6px] rounded-[6px]"
                          >
                            {{ box.poppins }}
                          </div>
                        {% endif %}
                        <div class="flex items-start justify-between w-full gap-4 text-lg  text-foreground">
                          <div class="w-full">
                            <div
                              class="w-full inline-flex items-center gap-2 justify-between"
                              style="justify-content: center;"
                            >
                              <div class="inline-flex items-end gap-2">
                                <div class="mb-1 overflow-hidden text-uppercase text-[20px] leading-[28px] font-[500] text-[#121212] sibtextcts">
                                  {{ box.allowed_items }}
                                  {% if box.allowed_items == 1 %}
                                    Pair
                                  {% else %}
                                    Pairs
                                  {% endif %}
                                </div>
                              </div>
                              <div class="relative relativeCUSTOM w-[24px] h-[24px]" style="width:0;">
                                <input
                                  style="opacity:0;"
                                  type="radio"
                                  title="{{ box.title | downcase }}"
                                  id="{{ box.title | downcase }}"
                                  name="boxType"
                                  {% if forloop.last %}
                                    checked
                                  {% endif %}
                                  class="w-[24px] h-[24px]"
                                  value="{{ box.title | downcase }}"
                                >
                                <span></span>
                              </div>
                            </div>

                            {% if forloop.index == 1 %}
                              <img
                                src="https://cdn.shopify.com/s/files/1/0667/5877/0944/t/55/assets/27%20(1).png?v=1733250952"
                                style="width: 100%;aspect-ratio: 1 / 1;margin-top: -10px;object-fit: cover;"
                              >
                            {% endif %}
                            {% if forloop.index == 2 %}
                              <img
                                src="https://cdn.shopify.com/s/files/1/0667/5877/0944/t/55/assets/White%20Blue%20Gloves.png?v=1733252178"
                                style="width: 100%;aspect-ratio: 1 / 1;margin-top: -10px;object-fit: cover;"
                              >
                            {% endif %}
                            {% if forloop.index == 3 %}
                              <img
                                src="https://cdn.shopify.com/s/files/1/0667/5877/0944/t/55/assets/26.png?v=1733252231"
                                style="width: 100%;aspect-ratio: 1 / 1;margin-top: -10px;object-fit: cover;"
                              >
                            {% endif %}
                          </div>
                        </div>
                        {% if box.description %}
                          <div class="mt-[12px] text-[14px] font-[400] text-[#121212b3]">{{ box.description }}</div>
                        {% endif %}
                        {% if box.price %}
                          {% comment %}
                            <div class="mt-[6px] text-[18px] font-[400] text-[#121212]">
                              {{ box.price | times: 100 | money }}
                            </div>
                          {% endcomment %}
                        {% endif %}
                        {% if box.sale_price %}
                          <div
                            class="mt-[20px] text-[14px] font-[400] text-[#12121299]"
                            style="margin:0;margin-top:4px;"
                          >
                            {% if forloop.index == 1 %}
                              <span class="money-mm"> Regular Price </span>
                            {% else %}
                              <span class="money-mm">
                                {{ box.sale_price | times: 100 | money -}}
                                /pair</span
                              >
                            {% endif %}
                          </div>
                        {% endif %}
                      </div>
                      {% if box.save_price_text %}
                        <div class="bg-[#D75555] text-center p-[7px] mt-0 text-white text-[16px] rounded-b-[6px] ">
                          {{ box.save_price_text }}
                        </div>
                      {% endif %}
                    </label>
                  </div>
                {% endfor %}
              </div>
              -->
              <ul class="section-product__products">
                  <li class="section-product__item">
                      <h3 class="section-product__item-title">1 Pair</h3>
                      <div class="section-product__item-photo">
                          <img src="{{ section.settings.glove-1-pair-photo | img_url: 'original' }}" alt="pair">
                      </div>
                      <div class="section-product__item-wrapper">
                          <p class="section-product__item-price">{{ section.settings.glove-1-pair-price  }}</p>
                          {% if section.settings.glove-1-pair-discount != blank %}
                              <p class="section-product__item-discount">
                                  {{ section.settings.glove-1-pair-discount }}
                              </p>
                          {% endif %}
                      </div>
                  </li>  
                  <li class="section-product__item">
                      <div class="section-product__item-popular">MOST POPULAR</div>
                      <h3 class="section-product__item-title">2 Pair</h3>
                      <div class="section-product__item-photo">
                          <img src="{{ section.settings.glove-2-pair-photo | img_url: 'original' }}" alt="pair">
                      </div>
                      <div class="section-product__item-wrapper">
                          <p class="section-product__item-price">{{ section.settings.glove-2-pair-price  }}</p>
                          {% if section.settings.glove-2-pair-discount != blank %}
                              <p class="section-product__item-discount">
                                  {{ section.settings.glove-2-pair-discount }}
                              </p>
                          {% endif %}
                      </div>
                  </li>  
                  <li class="section-product__item active">
                      <div class="section-product__item-best">BEST VALUE</div>
                      <h3 class="section-product__item-title">3 Pair</h3>
                      <div class="section-product__item-photo">
                          <img src="{{ section.settings.glove-3-pair-photo | img_url: 'original' }}" alt="pair">
                      </div>
                      <div class="section-product__item-wrapper">
                          <p class="section-product__item-price">{{ section.settings.glove-3-pair-price  }}</p>
                          {% if section.settings.glove-3-pair-discount != blank %}
                              <p class="section-product__item-discount">
                                  {{ section.settings.glove-3-pair-discount }}
                              </p>
                          {% endif %}
                      </div>
                  </li>  
              </ul>
              <div class="section-product__inscription">
                  <span class='section-product__bold'>Awesome!</span> You’ve Unlocked <span class='section-product__circle'>3</span> FREE Gifts
              </div>
              <ul class="section-product__list">
                  <li class="section-product__option active">
                      <div class="section-product__option-photo">
                          <img src="{{ section.settings.glove-1-gift-photo | img_url: 'original' }}" alt="photo">
                      </div>
                      <h3 class="section-product__option-title">{{ section.settings.glove-1-gift-title }}</h3>
                      <p class="section-product__option-discount">{{ section.settings.glove-1-gift-subtitle }}</p>
                      <div class="section-product__icon">
                          {% render 'gift-lock' %}
                      </div>
                  </li>
                  <li class="section-product__option active">
                      <div class="section-product__option-photo">
                          <img src="{{ section.settings.glove-2-gift-photo | img_url: 'original' }}" alt="photo">
                      </div>
                      <h3 class="section-product__option-title">{{ section.settings.glove-2-gift-title }}</h3>
                      <p class="section-product__option-discount">{{ section.settings.glove-2-gift-subtitle }}</p>
                      <div class="section-product__icon">
                          {% render 'gift-lock' %}
                      </div>
                  </li>
                  <li class="section-product__option active">
                      <div class="section-product__option-photo">
                          <img src="{{ section.settings.glove-3-gift-photo | img_url: 'original' }}" alt="photo">
                      </div>
                      <h3 class="section-product__option-title">{{ section.settings.glove-3-gift-title }}</h3>
                      <p class="section-product__option-discount">{{ section.settings.glove-3-gift-subtitle }}</p>
                      <div class="section-product__icon">
                          {% render 'gift-lock' %}
                      </div>
                  </li>
              </ul>

              <div class="text-[16px] text-[#121212] font-bold block md:hidden">
                Step 2: Choose your gloves
              </div>

              <div class="asdsasd" id="fixedpart">
                <!--
                <div class="giftsWrap">
                  <h4 class="text-[24px] text-[#000000] text-center mt-[25px] mb-[20px] font-bold">
                    Free Gifts with Your Order
                  </h4>

                  <div class="giftsWrapItems">
                    <div class="giftsWrapItemsOneWrap">
                      <span class="giftsWrapFree">Free <i>£7.00</i> </span>

                      <div class="giftsWrapItemsOne">
                        <div class="giftImgLock giftImgLock1">
                          {% render 'gift-lock' %}
                        </div>

                        <div class="giftImgOpen giftImgOpen1">
                          <img src="{{ 'gift-1.svg' | asset_url }}" alt="gift">
                        </div>
                      </div>

                      <p class="giftsWrapItemsOneText">Free Shipping</p>
                    </div>

                    <div class="giftsWrapItemsOneWrap">
                      <span class="giftsWrapFree">Free <i>£19.99</i> </span>

                      <div class="giftsWrapItemsOne">
                        <div class="giftImgLock giftImgLock2">
                          {% render 'gift-lock' %}
                        </div>

                        <div class="giftImgOpen giftImgOpen2">
                          <img src="{{ 'gift-2.svg' | asset_url }}" alt="gift">
                        </div>
                      </div>

                      <p class="giftsWrapItemsOneText">Free Gift</p>
                    </div>

                    <div class="giftsWrapItemsOneWrap">
                      <span class="giftsWrapFree">Free <i>£9.95</i> </span>

                      <div class="giftsWrapItemsOne">
                        <div class="giftImgLock giftImgLock3">
                          {% render 'gift-lock' %}
                        </div>

                        <div class="giftImgOpen giftImgOpen3">
                          <img src="{{ 'gift-3.svg' | asset_url }}" alt="gift">
                        </div>
                      </div>

                      <p class="giftsWrapItemsOneText">Goalkeeper Workout Plan Ebook</p>
                    </div>
                  </div>
                </div>
                -->
                <div class="my-sticky md:block flex justify-between items-center">
                  <h4 class="text-[24px] text-[#000000] text-center mt-[25px] mb-[20px] md:block hidden">Your Bundle</h4>
                  <div
                    id="bundle-products"
                    class="bundle-products flex md:gap-[20px] justify-center md:mb-[25px]"
                  ></div>
                  <div class="flex flex-col gap-[8px]">
                    <button
                      type="button"
                      id="add-to-cart-button"
                      class="bg-[#D75555] opacity-75 rounded-[6px] text-white text-[22px] md:py-[20px] py-[5px] px-[5px] max-w-[400px] w-full mx-auto uppercase"
                    >
                      Add 3 More Items
                    </button>
                    <div class="align-center justify-center gap-[8px] md:flex hidden">
                      <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="m6.625 11.958 4.708-4.708-1.187-1.187-3.521 3.52-1.75-1.75-1.187 1.188zm.875 5.375q-2.895-.729-4.781-3.322Q.833 11.416.833 8.25V3.166L7.5.667l6.667 2.5V8.25q0 3.166-1.886 5.76-1.885 2.595-4.781 3.323m0-1.75q2.166-.687 3.583-2.75A7.9 7.9 0 0 0 12.5 8.25V4.313l-5-1.875-5 1.875V8.25q0 2.52 1.417 4.583 1.416 2.063 3.583 2.75" fill="#121212"/>
                      </svg>
                      <span class="text-[#121212] text-[14px] risktext"
                        >TRY 100% RISK FREE WITH OUR 10 GAME GUARANTEE</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rounded-[6px] border border-[#B2B2B2] grid grid-cols-3 py-[12px] mt-[20px] hideinmobile">
            <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
              <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.875 23.25a2.625 2.625 0 1 0 0-5.25 2.625 2.625 0 0 0 0 5.25ZM7 23.25A2.625 2.625 0 1 0 7 18a2.625 2.625 0 0 0 0 5.25Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M4.375 20.625H3.5A2.625 2.625 0 0 1 .875 18V4A2.625 2.625 0 0 1 3.5 1.375H14A2.625 2.625 0 0 1 16.625 4v16.625h-7m9.625 0h-2.625V8.375h6.125l4.375 5.396V18a2.625 2.625 0 0 1-2.625 2.625m2.625-7h-10.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              <span class="text-[#121212] text-[16px]">Fast Shipping</span>
            </div>
            <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
              <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.625 24.5A2.625 2.625 0 0 1 25 27.125H4A2.625 2.625 0 0 1 1.375 24.5V8.75A2.625 2.625 0 0 1 4 6.125h21a2.625 2.625 0 0 1 2.625 2.625zM4 6.125 15.083.948M25 6.125l-5.76-4.01" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M19.75 6.125v8.75L18 14l-1.75.875L14.5 14l-1.75.875L11 14l-1.75.875v-8.75M5.75 19.25h7m-7 3.5h3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              <span class="text-[#121212] text-[16px]">30-Days Returns</span>
            </div>
            <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
              <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.5 27.125S1.125 22.313 1.125 17.5V6.125c0-2.023 1.02-3.19 2.625-3.5L12.5.875l8.75 1.75c1.605.31 2.625 1.477 2.625 3.5V17.5c0 4.813-11.375 9.625-11.375 9.625Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="m7.444 14.3 4.075 4.075 6.037-6.037M1.125 9.625c0-2.023 1.02-3.19 2.625-3.5l8.75-1.75 8.75 1.75c1.605.31 2.625 1.477 2.625 3.5M12.5.875v3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
              </svg>
              <span class="text-[#121212] text-[16px]">Satisfaction Guarantee</span>
            </div>
          </div>
          <div class="mt-[40px] rounded-[6px] bg-[#F0F0F0] p-[16px] md:p-[32px] reviewpart">
            <svg
              class="mx-auto"
              width="112"
              height="24"
              viewBox="0 0 112 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="m6.575 19.962 1.433-6.17L3.22 9.644l6.316-.548L12 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L12 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L34 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L34 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L56 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L56 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L78 3.28l2.463 5.817 6.316.548-4.787 4.148 1.433 6.17L78 16.689zm22 0 1.433-6.17-4.787-4.148 6.316-.548L100 3.28l2.464 5.817 6.315.548-4.787 4.148 1.433 6.17L100 16.689z" fill="#D75555"/>
            </svg>
            <p class=" pt-[8px] pb-[20px] m-0 text-center text-black text-[20px]">Best gloves 🧤</p>
            <p class="text-center text-[16px] text-[#121212] mt-0 mb-[24px]">
              Fantastic gloves. Having tried many brands over the last 6 years for my young goalie these are the ones
              that lasted the longest. Fantastic grip which massively improved his ball control. Fab communication when
              deciding on sizes and super quick delivery.
            </p>
            <p class="text-center text-[#121212] text-[16px] m-0 ">Kayleigh Small</p>
            <div class="flex items-center justify-center gap-[6px]">
              <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="m6.843 17.221-1.487-2.506-2.824-.619.276-2.907L.894 9l1.914-2.19-.276-2.906 2.824-.619L6.843.78 9.5 1.907 12.157.78l1.487 2.506 2.824.619-.276 2.907L18.106 9l-1.914 2.188.276 2.907-2.824.619-1.487 2.506L9.5 16.093zm1.782-5.551 4.42-4.42-.878-.904-3.542 3.542-1.792-1.766L5.955 9z" fill="#D75555"/>
              </svg>
              <span class="text-[#121212] text-[16px]">Verified Reviewer</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form id="bundle_form" action="/cart/add" method="post"></form>

    <div class="rounded-[6px] border border-[#B2B2B2] grid grid-cols-3 py-[12px] mt-[20px] hideindesktop">
      <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
        <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M21.875 23.25a2.625 2.625 0 1 0 0-5.25 2.625 2.625 0 0 0 0 5.25ZM7 23.25A2.625 2.625 0 1 0 7 18a2.625 2.625 0 0 0 0 5.25Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M4.375 20.625H3.5A2.625 2.625 0 0 1 .875 18V4A2.625 2.625 0 0 1 3.5 1.375H14A2.625 2.625 0 0 1 16.625 4v16.625h-7m9.625 0h-2.625V8.375h6.125l4.375 5.396V18a2.625 2.625 0 0 1-2.625 2.625m2.625-7h-10.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <span class="text-[#121212] text-[16px]">Fast Shipping</span>
      </div>
      <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
        <svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.625 24.5A2.625 2.625 0 0 1 25 27.125H4A2.625 2.625 0 0 1 1.375 24.5V8.75A2.625 2.625 0 0 1 4 6.125h21a2.625 2.625 0 0 1 2.625 2.625zM4 6.125 15.083.948M25 6.125l-5.76-4.01" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M19.75 6.125v8.75L18 14l-1.75.875L14.5 14l-1.75.875L11 14l-1.75.875v-8.75M5.75 19.25h7m-7 3.5h3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <span class="text-[#121212] text-[16px]">30-Days Returns</span>
      </div>
      <div class="flex flex-col items-center justify-center gap-[12px] columnitemfix">
        <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.5 27.125S1.125 22.313 1.125 17.5V6.125c0-2.023 1.02-3.19 2.625-3.5L12.5.875l8.75 1.75c1.605.31 2.625 1.477 2.625 3.5V17.5c0 4.813-11.375 9.625-11.375 9.625Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="m7.444 14.3 4.075 4.075 6.037-6.037M1.125 9.625c0-2.023 1.02-3.19 2.625-3.5l8.75-1.75 8.75 1.75c1.605.31 2.625 1.477 2.625 3.5M12.5.875v3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
        <span class="text-[#121212] text-[16px]">Satisfaction Guarantee</span>
      </div>
    </div>
  </div>
</section>

<div data-popup-image class="data-popup-image opacity-0 pointer-events-none">
  <button data-prev class="absolute top-2/4 translate-y-[-50%] left-[5px] text-white prev">
    <img class="rotate-180" src="{{ 'arrow-black.svg' | asset_url }}" alt="">
  </button>
  <img id="image" src="" alt="">
  <button data-next class="absolute top-2/4 translate-y-[-50%] right-[5px] text-white next">
    <img src="{{ 'arrow-black.svg' | asset_url }}" alt="">
  </button>
</div>

{{ 'bundle-products.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Custom box builder",
  "class": "j-box-builder-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "id": "page",
      "type": "page",
      "label": "t:sections.main-product.blocks.popup.settings.page.label"
    },
    {
            "id": "glove-1-pair-photo",
            "type": "image_picker",
            "label": "1 Pair photo"
        },
        {
            "id": "glove-1-pair-price",
            "type": "text",
            "label": "1 Pair price",
            "default": "£52.99"
        },
        {
            "id": "glove-1-pair-discount",
            "type": "text",
            "label": "1 Pair discount"
        },
        {
            "id": "glove-2-pair-photo",
            "type": "image_picker",
            "label": "2 Pair photo"
        },
        {
            "id": "glove-2-pair-price",
            "type": "text",
            "label": "2 Pair price",
            "default": "£90"
        },
        {
            "id": "glove-2-pair-discount",
            "type": "text",
            "label": "2 Pair discount",
            "default": "SAVE 25%"
        },
        {
            "id": "glove-3-pair-photo",
            "type": "image_picker",
            "label": "3 Pair photo"
        },
        {
            "id": "glove-3-pair-price",
            "type": "text",
            "label": "3 Pair price",
            "default": "£120"
        },
        {
            "id": "glove-3-pair-discount",
            "type": "text",
            "label": "3 Pair discount",
            "default": "SAVE 53%"
        },
    {
            "id": "glove-1-gift-photo",
            "type": "image_picker",
            "label": "1 Gift photo"
        },
        {
            "id": "glove-1-gift-title",
            "type": "text",
            "label": "1 Gift title",
            "default": "Free Shipping"
        },
        {
            "id": "glove-1-gift-subtitle",
            "type": "text",
            "label": "1 Gift subtitle",
            "default": "You saved £7.00"
        },
        {
            "id": "glove-2-gift-photo",
            "type": "image_picker",
            "label": "2 Gift photo"
        },
        {
            "id": "glove-2-gift-title",
            "type": "text",
            "label": "2 Gift title",
            "default": "Free Gift"
        },
        {
            "id": "glove-2-gift-subtitle",
            "type": "text",
            "label": "2 Gift subtitle",
            "default": "You saved £19.99"
        },
        {
            "id": "glove-3-gift-photo",
            "type": "image_picker",
            "label": "3 Gift photo"
        },
        {
            "id": "glove-3-gift-title",
            "type": "text",
            "label": "3 Gift title",
            "default": "Goalkeeper Workout Plan"
        },
        {
            "id": "glove-3-gift-subtitle",
            "type": "text",
            "label": "3 Gift subtitle",
            "default": "You saved £9.99"
        }
  ],
  "presets": [
    {
      "name": "Custom box builder"
    }
  ]
}
{% endschema %}
