<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  {{ 'component-localization-form.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{{ 'custom.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }


  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>

{%- style -%}
  .header__icons,
  .header__heading {
    padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{%- if section.settings.enable_country_selector or section.settings.enable_language_selector -%}
  <script src="{{ 'localization-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden" style="display: none;">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}

  <div class="header-menu">
    <div class="page-width">
      <div class="header-menu__wrapper">
        {% for link in section.settings.menu.links %}
          {% if forloop.index == 1 %}
            <div data-tab class="header-menu__href">
              <p class="header-menu__text">{{ link.title | escape }}</p>
              <svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 9L9.5 1L1 9" stroke="#3A3A3A" stroke-width="0.986842" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="header-menu__content">
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  Gloves
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="/collections/all?handle=gloves&min=0&max=500" class="header-menu__caption">All Goalkeeper Gloves</a>
                    <a href="/collections/all?handle=gloves&min=0&max=500" class="header-menu__caption">Adult Goalkeeper Gloves</a>
                    <a href="/collections/all?handle=gloves&min=0&max=500" class="header-menu__caption">Junior Goalkeeper Gloves</a>
                  </div>
                  <div class="header-menu__element">
                    <div class="header-menu__wrap">
                      <h4 class="header-menu__headline">By Type</h4>
                      <div class="header-menu__items">
                        <a href="/collections/all?handle=gloves&features=negative-cut&min=0&max=500" class="header-menu__item">Negative Cut</a>
                        <a href="/collections/all?handle=gloves&features=gecko-cut&min=0&max=500" class="header-menu__item">Hybrid Cut</a>
                        <a href="/collections/all?handle=gloves&features=finger-protection&min=0&max=500" class="header-menu__item">Finger Protection</a>
                      </div>
                    </div>
                    <div class="header-menu__wrap">
                      <h4 class="header-menu__headline">By Surface</h4>
                      <div class="header-menu__items">
                        <a href="#" class="header-menu__item">All Surfaces</a>
                        <a href="#" class="header-menu__item">Astro/4G</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  CLOTHING
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="/collections/all?handle=clothings&min=0&max=500" class="header-menu__caption">Shop All Clothing</a>
                    <a href="/collections/all?handle=clothings&features=adult-clothing&min=0&max=500" class="header-menu__caption">Adult Clothing</a>
                    <a href="/collections/all?handle=clothings&features=junior-clothing&min=0&max=500" class="header-menu__caption">Junior Clothing</a>
                  </div>
                  <div class="header-menu__element">
                    <div class="header-menu__wrap">
                      <h4 class="header-menu__headline">By Product</h4>
                      <div class="header-menu__items">
                        <a href="#" class="header-menu__item">Shorts</a>
                        <a href="#" class="header-menu__item">Top</a>
                        <a href="#" class="header-menu__item">Trousers</a>
                        <a href="#" class="header-menu__item">1/4 Zip</a>
                      </div>
                    </div>
                    <div class="header-menu__wrap">
                      <h4 class="header-menu__headline">By Type</h4>
                      <div class="header-menu__items">
                        <a href="#" class="header-menu__item">Padded</a>
                        <a href="#" class="header-menu__item">Unpadded</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  ACCESSORIES
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="/collections/all?handle=accessories&min=0&max=500" class="header-menu__caption">Shop All Accessories</a>
                  </div>
                  <h4 class="header-menu__headline">By Product</h4>
                  <div class="header-menu__items">
                    <a href="/products/mini-shin-pads" class="header-menu__item">Shin Pads</a>
                    <a href="/collections/all?handle=accessories&min=0&max=500" class="header-menu__item">Finger Protect Tape</a>
                    <a href="/products/goalkeeper-cap-black-white" class="header-menu__item">Goalkeeper Cap</a>
                    <a href="/products/grip-socks" class="header-menu__item">Grip Socks</a>
                    <a href="/products/water-bottle" class="header-menu__item">Water Bottle</a>
                    <a href="/products/glove-wallet" class="header-menu__item">Glove Wallet</a>
                    <a href="/products/gripcharge" class="header-menu__item">Grip Charge</a>
                    <a href="/products/glove-towel" class="header-menu__item">Glove Towel</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  BUNDLES
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="/collections/bundle" class="header-menu__caption">Shop All Bundles</a>
                  </div>
                  <h4 class="header-menu__headline">By Product</h4>
                  <div class="header-menu__items">
                    <a href="/products/core-skin-combo-bundle" class="header-menu__item">Core Skin - Combo Bundle</a>
                    <a href="/pages/academy-pack" class="header-menu__item">Academy Pack</a>
                    <a href="/apps/bundles/bundle/146719" class="header-menu__item">2x Pro Glove Bundle</a>
                    <a href="/apps/bundles/bundle/153564" class="header-menu__item">3x Pro Glove Bundle</a>
                    <a href="/products/match-day-add-on-kit" class="header-menu__item">Match Day Add-On Kit</a>
                    <a href="/products/full-protection-kit" class="header-menu__item">Full Protection Kit</a>
                    <a href="/products/3-padded-items" class="header-menu__item">3 padded items</a>
                    <a href="/products/3-core-skin-items" class="header-menu__item">3 Core Skin items</a>
                  </div>
                </div>
              </div>
            </div>
          {% elsif forloop.index == 2 %}
            <div data-tab class="header-menu__href other">
              <p class="header-menu__text">{{ link.title | escape }}</p>
              <svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 9L9.5 1L1 9" stroke="#3A3A3A" stroke-width="0.986842" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="header-menu__content other">
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  HELP ME CHOOSE
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Glove Finder Quiz</a>
                    <a href="#" class="header-menu__caption">Which Cut Should I Choose?</a>
                    <a href="#" class="header-menu__caption">Glove Size Guide</a>
                    <a href="#" class="header-menu__caption">Best Gloves for Training</a>
                    <a href="#" class="header-menu__caption">Best Gloves for Matches</a>
                    <a href="#" class="header-menu__caption">Best Gloves for Turf</a>
                    <a href="#" class="header-menu__caption">Best Gloves for Wet Weather</a>
                    <a href="#" class="header-menu__caption">Parent Zone</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  CARE & MAINTENANCE
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Washing Instructions</a>
                    <a href="#" class="header-menu__caption">Latex Types & Grip Guide</a>
                    <a href="#" class="header-menu__caption">How to Remove Palm Plastic</a>
                    <a href="#" class="header-menu__caption">How to Extend Glove Lifespan</a>
                    <a href="#" class="header-menu__caption">Wet Weather Tips</a>
                    <a href="#" class="header-menu__caption">Turf Surface Tips</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  GET HELP
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Contact Support</a>
                    <a href="#" class="header-menu__caption">Make a Return</a>
                    <a href="#" class="header-menu__caption">FAQ Hub</a>
                    <a href="#" class="header-menu__caption">Restock Notifications</a>
                    <a href="#" class="header-menu__caption">10-Game Guarantee</a>
                    <a href="#" class="header-menu__caption">Contact Support</a>
                    <a href="#" class="header-menu__caption">Is This Normal Glove Wear?</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  EXTRAS
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Glove Personalisation</a>
                    <a href="#" class="header-menu__caption">Gift Cards</a>
                    <a href="#" class="header-menu__caption">Wholesale & Academy Enquiries</a>
                  </div>
                </div>
              </div>
            </div>
          {% elsif forloop.index == 3 %}
            <div data-tab class="header-menu__href">
              <p class="header-menu__text">{{ link.title | escape }}</p>
              <svg width="19" height="10" viewBox="0 0 19 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 9L9.5 1L1 9" stroke="#3A3A3A" stroke-width="0.986842" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <div class="header-menu__content other">
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  ABOUT US
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Our Story</a>
                    <a href="#" class="header-menu__caption">What Makes Us Different</a>
                    <a href="#" class="header-menu__caption">The Hundred Club</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  BLOG
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Glove Guides</a>
                    <a href="#" class="header-menu__caption">Keeper Tips & Training</a>
                    <a href="#" class="header-menu__caption">Product Updates</a>
                    <a href="#" class="header-menu__caption">View All Posts</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  PARENT ZONE
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="#" class="header-menu__caption">Buying Gloves for Your Child</a>
                    <a href="#" class="header-menu__caption">Glove Size Help for Kids</a>
                    <a href="#" class="header-menu__caption">FAQs for First-Time GK Parents</a>
                    <a href="#" class="header-menu__caption">How to Make Gloves Last Longer</a>
                  </div>
                </div>
              </div>
              <div class="header-menu__elem">
                <h3 class="header-menu__title">
                  SOCIAL MEDIA
                  <span class="plus">+</span>
                  <span class="minus">-</span>
                </h3>
                <div class="header-menu__block">
                  <div class="header-menu__list">
                    <a href="https://www.instagram.com/thehundredglove/" class="header-menu__caption">Instagram</a>
                    <a href="https://www.tiktok.com/@thehundredglove" class="header-menu__caption">TikTok</a>
                    <a href="https://www.youtube.com/@thehundredglove3485/featured" class="header-menu__caption">YouTube</a>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <a href="{{ link.url }}" class="header-menu__href">
              <p class="header-menu__text">{{ link.title | escape }}</p>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

  <header class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu_type_desktop == 'drawer' %} drawer-menu{% endif %}{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if social_links %} header--has-social{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}{% if localization_forms %} header--has-localizations{% endif %}">
    {%- liquid
      if section.settings.menu != blank
        render 'header-drawer'
      endif

      if section.settings.logo_position == 'top-center' or section.settings.menu == blank
        render 'header-search', input_id: 'Search-In-Modal-1'
      endif
    -%}

    <button class="button-menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        focusable="false"
        class="icon icon-hamburger"
        fill="none"
        viewBox="0 0 18 16"
      >
        <path d="M1 .5a.5.5 0 100 1h15.71a.5.5 0 000-1H1zM.5 8a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1A.5.5 0 01.5 8zm0 7a.5.5 0 01.5-.5h15.71a.5.5 0 010 1H1a.5.5 0 01-.5-.5z" fill="currentColor">
      </svg>
    </button>

    {%- if section.settings.logo_position == 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <h1 class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(min-width: 750px) {{ settings.logo_width }}px, 50vw{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </h1>
      {%- endif -%}
    {%- endif -%}
    {% render 'header-dropdown-menu' %} 

    {%- if section.settings.logo_position != 'middle-center' -%}
      {%- if request.page_type == 'index' -%}
        <span class="header__heading">
      {%- endif -%}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
            {%- if settings.logo != blank -%}
              <div class="header__heading-logo-wrapper">
                {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                {{ settings.logo | image_url: width: 600 | image_tag:
                  class: 'header__heading-logo motion-reduce',
                  widths: widths,
                  height: logo_height,
                  width: settings.logo_width,
                  alt: logo_alt,
                  sizes: sizes,
                  preload: true
                }}
              </div>
            {%- else -%}
              <span class="h2">{{ shop.name }}</span>
            {%- endif -%}
          </a>
      {%- if request.page_type == 'index' -%}
        </span>
      {%- endif -%}
    {%- endif -%}

    <div class="header__icons{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header__localization{% endif %}">
      <div class="desktop-localization-wrapper">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderCountryMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderCountryMobileLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="HeaderCountryMobileLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'HeaderCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {% endif %}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript class="small-hide medium-hide">
            {%- form 'localization', id: 'HeaderLanguageMobileFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="HeaderLanguageMobileLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form class="small-hide medium-hide no-js-hidden">
            {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="visually-hidden" id="HeaderLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                {%- render 'language-localization', localPosition: 'HeaderLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      {% render 'header-search', input_id: 'Search-In-Modal' %}

      {%- if shop.customer_accounts_enabled -%}
        <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
          {% render 'icon-account' %}
          <span class="visually-hidden">
            {%- liquid
              if customer
                echo 'customer.account_fallback' | t
              else
                echo 'customer.log_in' | t
              endif
            -%}
          </span>
        </a>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        {%- endcase -%}
      {%- endfor -%}

      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </div>
  </header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

<style>
  .header-menu{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    width: 100%;
    transition: .5s all;
  }

  .header-menu:hover{
    transform: translateY(100%);
    opacity: 1;
  }
  
  .header-menu.active{
    transform: translateY(100%);
    opacity: 1;
  }

  .header-menu__wrapper{
    padding: 30px 0;
  }

  .header-menu__content{
    justify-content: space-between;
  }

  .header-menu__title{
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    font-family: "Arial" !important;
    margin-bottom: 15px;
  }

  .header-menu__caption{
    display: block;
    margin: 0;
    font-weight: 700;
    font-style: italic;
    color: #404040;
    text-decoration: none;
    transition: .5s all;
  }

  .header-menu__caption:hover{
    color: #000;
  }

  .header-menu__list{
    margin-bottom: 20px;
  }

  .header-menu__headline{
    font-size: 14px;
    font-weight: 700;
    font-style: italic;
    color: #404040;
    margin: 0;
    font-family: "Arial" !important;
  }

  .header-menu__element{
    column-gap: 40px;
    display: flex;
    justify-content: space-between;
  }

  .header-menu__item{
    display: block;
    font-size: 14px;
    color: #8D8D8D;
    text-decoration: none;
    transition: .5s all;
  }

  .header-menu__item:hover{
    color: #000;
  }

  .header__menu-item:first-child span{
    text-decoration: none !important;
  }

  .header-menu__href{
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 25px;
    color: #000;
    text-decoration: none;
  }

  .header-menu__href svg{
    transition: .5s all;
  }

  .header-menu__href.active svg{
    transform: rotate(180deg);
  }

  .header-menu__text{
    margin: 0;
  }

  .header-menu__href:before{
    content: "";
    position: absolute;
    background-color: #B4B4B4;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
  }

  .header-menu__title span{
    display: none;
  }

  .header-menu__content{
    display: none;
  }

  .header-menu__content.active{
    display: flex;
  }

  .other .header-menu__caption{
    font-style: normal;
    font-weight: 400;
  }

  .header-menu__caption,
  .header-menu__headline,
  .header-menu__item{
    margin-bottom: 5px;
  }

  @media screen and (max-width: 750px) {
    .header-menu__item{
      margin-bottom: 8px;
    }

    .header-menu{
      height: 100vh;
    }

    .header-menu__content{
      padding-left: 5px;
    }

    .header-menu__element{
      column-gap: 65px;
      justify-content: flex-start;
    }

    .header-menu{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(-100%);
      overflow: auto;
      padding-top: 75px;
    }

    .header-menu.active ~ .header{
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }

    .header-menu.active{
      opacity: 1;
      transform: none;
    }

    .header-menu__content{
      margin-bottom: 20px;
      padding-bottom: 20px;
      position: relative;
    }

    .header-menu__content:before{
      content: "";
      position: absolute;
      background-color: #B4B4B4;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
    }

    .header-menu__content.active{
      display: block;
    }

    .header-menu__href{
      display: flex;
    }

    .header-menu__wrapper{
      padding: 30px 15px;
    }

    .header-menu__title.active .minus{
      display: block;
    }

    .header-menu__title.active .plus{
      display: none;
    }

    .header-menu__title .plus{
      display: block;
    }

    .header-menu__title{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header-menu__caption{
      font-weight: 400;
    }

    .header-menu__elem{
      margin-bottom: 45px;
    }

    .header-menu__elem:last-child{
      margin: 0;
    }

    .header-menu__block{
      display: none;
    }

    .header-menu__title.active ~ .header-menu__block{
      display: block;
    }

    .header-menu__title{
      font-size: 14px;
      margin-bottom: 0;
    }

    .header-menu__block{
      margin-top: 20px;
    }

    .header-menu__text,
    .header-menu__caption{
      font-size: 14px;
    }
  }
</style>

<script>
  const contents = document.querySelectorAll(".header-menu__content");
  const menu = document.querySelector(".header-menu");

  document.querySelectorAll(".header__menu-item").forEach((nav, i) => {
    nav.addEventListener('mouseenter', () => {
      document.querySelector('.header-menu').classList.add('active');

      contents.forEach(item => {
        item.classList.remove("active");
      });

      contents[i].classList.add("active");
    });

    nav.addEventListener('mouseleave', () => {
      document.querySelector('.header-menu').classList.remove('active');
    });
  });

  document.querySelector(".button-menu").addEventListener("click", (e) => {
    document.querySelector(".header-menu").classList.toggle("active");
  });

  document.addEventListener("click", (e) => {
    if(!e.target.closest(".header-wrapper")) {
      document.querySelector(".header-menu").classList.remove("active");
    }
  });

  document.querySelectorAll("[data-tab]").forEach((elem, i) => {
    elem.addEventListener("click", (e) => {
      elem.classList.toggle("active");
      document.querySelectorAll(".header-menu__content")[i].classList.toggle("active");
    });
  });

  document.querySelectorAll(".header-menu__title").forEach(item => {
    item.addEventListener("click", (e) => {
      item.classList.toggle("active");
    });
  });

  function toggleActiveByWidth() {
    if (window.innerWidth < 750) {
      contents.forEach(el => el.classList.add('active'));
      document.querySelectorAll(".header-menu__title").forEach(el => el.classList.add('active'));
    } else {
      contents.forEach(el => el.classList.remove('active'));
      document.querySelectorAll(".header-menu__title").forEach(el => el.classList.remove('active'));
    }
  }

  toggleActiveByWidth();

  window.addEventListener('resize', toggleActiveByWidth);
</script>

<style>
    .button-menu{
      padding: 0;
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }

    #Details-menu-drawer-container{
      display: none;
    }
</style>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

  <script type="text/javascript">
  (function() {
    var _learnq = _learnq || [];
    _learnq.push(['account', 'UYtfjy']);  // Replace with your Klaviyo public API key
    var script = document.createElement('script');
    script.async = true;
    script.src = 'https://a.klaviyo.com/api/v1/onsite/js/klaviyo.js';  // Correct CDN URL for Klaviyo JS SDK
    var firstScript = document.getElementsByTagName('script')[0];
    firstScript.parentNode.insertBefore(script, firstScript);
  })();
</script>







  
{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
