{% if page.url == '/pages/juniorgloves' %}
     <style>
       .footer__blocks-wrapper div:nth-child(2) {
    display: none;
     
}
           hr{
     display: none  !important;
}
       .col-4{
         width: 35%;
       }
       .col-3 {
        width: 38%;
        text-align: left;
       }
       .col-5{
         width: 25%;
       }
       .l-c-h1 + img {
    max-width: 134px;
    float: right;
}
       .column h2.l-c-h1 {
    text-align: left;
    margin-bottom: 0;
}
      .inner_col_review * {
    padding: 0 !important;
    margin: 0 !important; 
}
       .inner_col_review {
    text-align: left;
    background: #FCF2F2;
    padding: 20px;
    margin-bottom: 25px;
}
       .inner_col_review h4 {
    font-size: 18px;
}
       .inner_col_review .col-2 p {
    font-size: 16px;
    line-height: 21px;
    margin: 10px 0 !important;
}
        .collapsible-content-wrapper-narrow {
   max-width: 85.4rem !important;
}
       .banner_sec .col-2 h2 {
    font-size: 50px;
    line-height: 53px;
    margin-top: 20px;
    text-decoration: none;
}
     .banner_sec .col-2 {
    padding-right: 50px;
    padding-top: 72px;
}
       ul#Slider-template--16781268943104__69de5aab-5ec6-44c1-a062-8bcde61d506d .multicolumn-card__info {
    display: flex;
    align-items: center;
    max-width: 766px;
    margin: auto;
    border-bottom: 1px solid #DADADA;
    padding: 19px 0 !important;
}
       ul#Slider-template--16781268943104__69de5aab-5ec6-44c1-a062-8bcde61d506d .multicolumn-card__info>:nth-child(2) {
    margin-top: 0;
    margin-left: 10px;
    font-size: 20px;
}
       ul#Slider-template--16781268943104__69de5aab-5ec6-44c1-a062-8bcde61d506d .multicolumn-card__info h3 {
    font-size: 38px;
}
       section#shopify-section-template--16781268943104__ba21d4e5-aea4-4ba0-96a6-8e60d96cde52 .color-background-1, section#shopify-section-template--16781268943104__69de5aab-5ec6-44c1-a062-8bcde61d506d .color-background-1 {
    background: rgba(252, 242, 242, 1);
}
       .header, .footer {
    display: none;
}
       .banner_sec {
    padding-top: 30px;
}
     div#shopify-section-template--16790093234432__47b7ebb5-8bae-4d41-9638-fa41a3e5c177 {
    background-image: url(//cdn.shopify.com/s/files/1/0667/5877/0944/t/14/assets/header-img.png?v=107165991446568975431685711793);
    background-size: 670px;
    background-repeat: no-repeat;
    background-position: top left 15%;
}
       a.button.button--secondary.l-c-b2 {
    color: #fff;
}
       .p_n_cut {
    justify-content: flex-end !important;
     
}
       .review svg.loox-icon {
    color: #D75555;
}
       .inner_col_review .bottom_main::after {
    background-image: url(//cdn.shopify.com/s/files/1/0667/5877/0944/t/14/assets/tick-icon.svg?v=34087979474866786821685963326);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: right;
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    top: 2px;
    margin-left: 8px;
}
       .inner_col_review .bottom_main{
      position: relative;
       }
       h4.l-c-h1.bottom_main::before {
    height: 1px;
    width: 21px;
    background: #000;
    position: absolute;
    content: "";
    top: 11px;
         left: 0;
}
       .inner_col_review .bottom_main {
    position: relative;
    padding-left: 27px !important;
}
       #header .summary {
   justify-content: center !important;
}
       #header {
    margin-top: 10px !important;
}
       .inner_col_review p {
     line-height: 24px;
    margin: 10px 0 !important;
}
     .column h2.l-c-h1, .col-2 h2 {
    text-decoration: underline #ccc 3px;
}
       @media (max-width: 1680px){
   div#shopify-section-template--16790093234432__47b7ebb5-8bae-4d41-9638-fa41a3e5c177 {
     background-size: 660px !important;
     background-position: top left 0%;
}
       }

       @media (max-width: 1480px){
         .banner_sec .col-2 {
     padding-top: 47px;
}
       }
       @media (max-width: 1200px){
         .banner_sec .col-2 h2 {
          font-size: 3.5vw !important;
          line-height: 4vw !important;
          }
         div#shopify-section-template--16781268943104__47b7ebb5-8bae-4d41-9638-fa41a3e5c177 {
    background-size: 460px !important;
    background-position: top left 0%;
}
       }

       @media (min-width: 1024px){
         .collapsible-content__heading {
     font-size: 36px;
}
       }
       @media (max-width: 800px){
         ul#Slider-template--16781268943104__69de5aab-5ec6-44c1-a062-8bcde61d506d .multicolumn-card__info h3 {
    font-size: 26px;
    max-width: 68px;
    width: 100%;
}
         ul#Slider-template--16781268943104__69de5aab-5ec6-44c1-a062-8bcde61d506d .multicolumn-card__info>:nth-child(2) {
    font-size: 18px !important;
    line-height: 25px;
}
         h1.head-1 {
    font-size: 24px !important;
    padding: 0 10px;
     margin: 0 auto !important;
}
      div#shopify-section-template--16790093234432__47b7ebb5-8bae-4d41-9638-fa41a3e5c177{
    background-size: 500px !important;
    background-position: top center;
}
         .banner_sec .col-2 {
    padding-top: 47px;
    text-align: center;
    padding-right: 0;
     margin-bottom: 50px;
}
         .banner_sec .col-2 h2 {
    font-size: 34px;
    line-height: 45px;
    margin: 20px auto 0;
    
}
      
    .col-2 p {
    font-size: 20px;
    margin: 20px auto 4px;
}
       .column h2.l-c-h1 {
    padding-top: 0;
    background-image: url(//cdn.shopify.com/s/files/1/0667/5877/0944/t/14/assets/arrow-r.svg?v=29361632125354272151685948029);
    background-repeat: no-repeat;
    background-position: left 17px;
    text-align: center;
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
         .col-5, .col-3, .col-4 {
    width: 100%;
}
     .landing-content-container {
     max-width: 600px;
}
     .col-2 h2 {
    margin: 8px 0px 0px !important;
       
}
         .col-2 p {
    font-size: 20px;
    max-width: 100%;
    margin: 20px auto 30px;
}
         .l-c-h1 + img {
  display: none;
}
         .inner_col_review {
    margin-top: 25px;
}
         .inner_col_review {
     margin-bottom: 0px !important;
}
         
       }
       @media (max-width: 580px){
         .banner_sec .col-2 h2, .l-c-h1 {
    font-size: 24px !important;
    line-height: 31px !important;
    
}
         .column h2.l-c-h1 {
    max-width: 305px;
    font-size: 24px !important;
}
         .inner_col_review h4 {
    font-size: 18px !important;
    line-height: 24px !important;
}
         .l-c-h1{
           padding-top: 0px !important;
           padding-bottom: 0px !important;
         }
         
    .col-5 .l-c-h1 {
    padding-top: 0 !important;
    padding-bottom: 33px !important;
}
         div#shopify-section-template--16790093234432__47b7ebb5-8bae-4d41-9638-fa41a3e5c177 {
    background-size: 340px !important;
     
}
         .banner_sec .col-2 {
    padding-top: 18px !important;
     
}
         .col-2 p {
            margin: 10px auto 0px !important;
           font-size: 18px !important;
}
         .col-3 p {
            font-size: 18px !important;
         }
         
         .collapsible-content__heading {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
           font-size: 24px;
}
         .inner_col_review p {
    font-size: 16px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
         .inner_col_review .bottom_main::after {
    top: 5px !important;
  
}
         h4.l-c-h1.bottom_main::before {
     top: 15px !important;
    
}
         .inner_col_review .bottom_main {
     font-size: 16px !important;
}
         #lp-p.l-c-h2 {
    font-size: 24px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
       }
     </style>
{% endif %}

{{ 'landing-content.css' | asset_url | stylesheet_tag }}
 <div class="container page-width landing-content-container">
  {% comment %}<a href="{{ section.settings.l-c-b1-url }}" class="button button--secondary l-c-b1" style="background-color: {{ section.settings.l-c-b1-color}}">{{ section.settings.l-c-b1 }} </a>{% endcomment %}
<h2 class="l-c-h1">{{ section.settings.l-c-h1}} </h2>
<div class="row l-c-block-flex l-c-block1">
    <div class="column l-c-block-flex-item col-5" >
        <h2 class="l-c-h1">{{ section.settings.l-c-h11}} </h2>
        <img  style="width:100%;" src="{{ section.settings.l-c-block1-imgg | img_url : 'master' }}"> 
  </div> 
  <div class="column l-c-block-flex-item col-4" >
      <img  style="width:100%;" src="{{ section.settings.l-c-block1-img | img_url : 'master' }}"> 
  </div> 
  <div  class="column l-c-block-flex-item col-3">
    <h2>{{ section.settings.l-c-block1-heading }}</h2>
    <p>{{ section.settings.l-c-block1-text }}</p>
    <div class="inner_col_review">
      <img src="{{ section.settings.l-c-block1-imggg | img_url : 'master' }}"> 
      <h4 class="l-c-h1">{{ section.settings.l-c-h111}} </h4>
      <p>{{ section.settings.l-c-block112-text }}</p>
      <h4 class="l-c-h1 bottom_main">{{ section.settings.l-c-h112}} </h4>
    </div>
    <a href="{{ section.settings.l-c-b2-url }}" class="button button--secondary l-c-b2" style="background-color: {{ section.settings.l-c-b2-color}}">{{ section.settings.l-c-b2 }} </a>
   </div>
</div>
  
{% comment %} <div class="row l-c-block-flex l-c-block2">
  <div class="column l-c-block-flex-item col-3" >
      <img  style="width:100%;" src="{{ section.settings.l-c-block2-img | img_url : 'master' }}"> 
  </div>  <div  class="column l-c-block-flex-item col-3">
    <h2>{{ section.settings.l-c-block2-heading }}</h2>
    <p>{{ section.settings.l-c-block2-text }}</p>
   </div>
</div>
<div class="row l-c-block-flex l-c-block3">
  <div class="column l-c-block-flex-item col-3" >
      <img  style="width:100%;" src="{{ section.settings.l-c-block3-img | img_url : 'master' }}"> 
      </div>  <div class="column l-c-block-flex-item col-3">
    <h2>{{ section.settings.l-c-block3-heading }}</h2>
    <p>{{ section.settings.l-c-block3-text }}</p>
   </div>
</div> 


 <a href="{{ section.settings.l-c-b2-url }}" class="button button--secondary l-c-b2" style="background-color: {{ section.settings.l-c-b2-color}}">{{ section.settings.l-c-b2 }} -></a>
  <h2 class="l-c-h2">{{ section.settings.l-c-h2}} </h2>
<img  style="width:100%;" src="{{ section.settings.l-c-features-img-desktop | img_url : 'master' }}" class="features-img-desktop"> 
<img  style="width:100%;" src="{{ section.settings.l-c-features-img-mobile | img_url : 'master' }}"  class="features-img-mobile"> {% endcomment %}



  
</div>




{% schema %}
  {
    "name": "juniorg",
    "settings": [
      {
  "id" : "l-c-b1",
  "type" : "text",
  "label" : "Heading",
  "default" : "TRY THE OBSCURE"
} , 
       {
  "id" : "l-c-b1-url",
  "type" : "url",
  "label" : "Enter Button URL"
  
} ,
        {
  "id" : "l-c-b1-color",
  "type" : "color",
  "label" : "Button color"
  
} ,
        {
  "id" : "l-c-h1",
  "type" : "text",
  "label" : "Heading",
  "default":"Why Over 4,000 Keepers Trust The Obscure"
  
  
},
          {
  "id" : "l-c-h11",
  "type" : "text",
  "label" : "Heading",
  "default":"enter-heading"
  
  
},

      {
  "id" : "l-c-h111",
  "type" : "text",
  "label" : "Heading",
  "default":"enter-text"
  
  
},

      {
  "id" : "l-c-h112",
  "type" : "text",
  "label" : "Heading",
  "default":"Unrivalled Stickiness"
  
  
},
 {
  "id" : "l-c-block1-imgg",
  "type" : "image_picker",
  "label" : "Image"
   
},

      {
  "id" : "l-c-block1-imggg",
  "type" : "image_picker",
  "label" : "Image"
   
},
       {
  "id" : "l-c-block1-img",
  "type" : "image_picker",
  "label" : "Image"
   
} ,
       {
  "id" : "l-c-block1-heading",
  "type" : "text",
  "label" : "Heading" ,
   "default":"Gloves Built With Science"
} ,
       {
  "id" : "l-c-block1-text",
  "type" : "text",
  "label" : "Text" ,
   "default":"Text Block One"
} ,
      {
  "id" : "l-c-block112-text",
  "type" : "text",
  "label" : "Text" ,
   "default":"Text Block two"
} ,
       {
  "id" : "l-c-block2-img",
  "type" : "image_picker",
  "label" : "Image"
   
} ,
       {
  "id" : "l-c-block2-heading",
  "type" : "text",
  "label" : "Heading" ,
   "default":"More Games, Less Money"
} ,
       {
  "id" : "l-c-block2-text",
  "type" : "text",
  "label" : "Text" ,
   "default":"Text Block Two"
} ,
       {
  "id" : "l-c-block3-img",
  "type" : "image_picker",
  "label" : "Image"
   
} ,
       {
  "id" : "l-c-block3-heading",
  "type" : "text",
  "label" : "Heading" ,
   "default":"10 Game Guarantee"
} ,
       {
  "id" : "l-c-block3-text",
  "type" : "text",
  "label" : "Text" ,
   "default":"Text Block Three"
} ,
  {
  "id" : "l-c-b2",
  "type" : "text",
  "label" : "Heading",
  "default" : "TRY THE OBSCURE"
} , 
       {
  "id" : "l-c-b2-url",
  "type" : "url",
  "label" : "Enter Button URL"
  
} ,
        {
  "id" : "l-c-b2-color",
  "type" : "color",
  "label" : "Button color"
  
} ,

          {
  "id" : "l-c-features-img-desktop",
  "type" : "image_picker",
  "label" : "Features Image ( Desktop Only ) "
   
},
    
          {
  "id" : "l-c-features-img-mobile",
  "type" : "image_picker",
  "label" : "Features Image ( Mobile Only ) "
   
},
  {
  "id" : "l-c-h2",
  "type" : "text",
  "label" : "Heading",
  "default":"We’re Different"
  
  
}
    
    ],





    

    "presets" : [
{
  "name" : "juniorg",
  "category" : "Custom"
 
  }
]
  }
{% endschema %}

{% stylesheet %}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}