{{ 'section-popup.css' | asset_url | stylesheet_tag }}
{{ 'section-bundle-glove.css' | asset_url | stylesheet_tag }}
{{ 'section-bundle.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

<style>
    #tidio-chat{
        display: none !important;
    }

    .section-glove__caption{
        font-weight: 400 !important;
    }

    .country{
        display: none;
    }
</style>

<div class="country">
    {% if request.locale.iso_code == 'sv' %}sv{% endif %}
</div>

<div id="build-bundle-product" class="page-width bundle">
    <div class="bundle__wrapper">
        <div class="bundle__navigation">
            <div class="bundle__navigation-wrapper">
                <span class="bundle__navigation-item active">
                    1
                    <span class="bundle__navigation-caption">{% if request.locale.iso_code == 'sv' %}Välj din handske{% else %}Choose Your Glove{% endif %}</span>
                </span>
                <span class="bundle__navigation-item">
                    2
                    <span class="bundle__navigation-caption">{% if request.locale.iso_code == 'sv' %}Välj din klädstorlek{% else %}Choose Your Clothing Size{% endif %}</span>
                </span>
                <span class="bundle__navigation-item">
                    3
                    <span class="bundle__navigation-caption">{% if request.locale.iso_code == 'sv' %}Välj ditt tillbehör{% else %}Choose Your Accessory{% endif %}</span>
                </span>
            </div>
        </div>
        <div class="bundle__products">
            <p class="bundle__products-headline"></p>
            <button class="bundle__products-button">
                <img src="{{ 'finger.svg' | asset_url }}" alt="finger">
                {% if request.locale.iso_code == 'sv' %}Behöver du hjälp med storlekarna?{% else %}Need help with sizing?{% endif %}
            </button>
            <div class="bundle__products-wrapper"></div>
            <div class="bundle__products-buttons">
                <div class="bundle__products-wrap">
                    <button class="bundle__products-btn">{% if request.locale.iso_code == 'sv' %}FÖREGÅENDE{% else %}PREVIOUS{% endif %}</button>
                </div>
                <div class="bundle__products-wrap">
                    <button class="bundle__products-btn">{% if request.locale.iso_code == 'sv' %}NÄSTA{% else %}NEXT{% endif %}</button>
                </div>
            </div>
        </div>
        <div class="bundle__cart">
            <div class="bundle__cart-wrapper">
                <p class="bundle__cart-headline">{% if request.locale.iso_code == 'sv' %}DITT PAKET{% else %}Your bundle{% endif %}</p>
                <div class="bundle__cart-wrap">
                    <div class="bundle__cart-head">
                        <p class="bundle__cart-caption"></p>
                        <div class="bundle__cart-progres">
                            <span class="bundle__cart-progress-active"></span>
                        </div>
                    </div>
                    <ul class="bundle__cart-list"></ul>
                    <div class="bundle__cart-footer">
                        <div class="bundle__cart-prices">
                            <p class="bundle__cart-heading">Your bundle</p>
                            <p class="bundle__cart-cost">
                                {% if cart.currency.iso_code == "USD" %}
                                    $169.99
                                {% elsif cart.currency.iso_code == "EUR" %}
                                    €147.80
                                {% else %}
                                    £124.99
                                {% endif %}
                            </p>
                            <p class="bundle__cart-prevcost">
                                {% if cart.currency.iso_code == "USD" %}
                                    $254.52
                                {% elsif cart.currency.iso_code == "EUR" %}
                                    €228,64
                                {% else %}
                                    £202.95
                                {% endif %}
                            </p>
                        </div>
                        <button data-link="{{ section.settings.link }}" class="bundle__cart-submit">{% if request.locale.iso_code == 'sv' %}Skicka paketet{% else %}submit bundle{% endif %}</button>
                        <div class="bundle__cart-info">
                            <img src="{{ 'verified-gray.svg' | asset_url }}" alt="verified">
                            {% if request.locale.iso_code == 'sv' %}Prova helt utan risk med vår 10-matchers garanti{% else %}TRY 100% RISK FREE WITH OUR 10 GAME GUARANTEE{% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="bundle__cart-advantages">
                <div class="bundle__cart-elem">
                    <svg class="bundle__cart-icon" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.875 23.25a2.625 2.625 0 1 0 0-5.25 2.625 2.625 0 0 0 0 5.25ZM7 23.25A2.625 2.625 0 1 0 7 18a2.625 2.625 0 0 0 0 5.25Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M4.375 20.625H3.5A2.625 2.625 0 0 1 .875 18V4A2.625 2.625 0 0 1 3.5 1.375H14A2.625 2.625 0 0 1 16.625 4v16.625h-7m9.625 0h-2.625V8.375h6.125l4.375 5.396V18a2.625 2.625 0 0 1-2.625 2.625m2.625-7h-10.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                    <p class="bundle__cart-text">{% if request.locale.iso_code == 'sv' %}Snabb leverans{% else %}Fast Shipping{% endif %}</p>
                </div>
                <div class="bundle__cart-elem">
                    <svg class="bundle__cart-icon" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M27.625 24.5A2.625 2.625 0 0 1 25 27.125H4A2.625 2.625 0 0 1 1.375 24.5V8.75A2.625 2.625 0 0 1 4 6.125h21a2.625 2.625 0 0 1 2.625 2.625zM4 6.125 15.083.948M25 6.125l-5.76-4.01" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="M19.75 6.125v8.75L18 14l-1.75.875L14.5 14l-1.75.875L11 14l-1.75.875v-8.75M5.75 19.25h7m-7 3.5h3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                    <p class="bundle__cart-text">{% if request.locale.iso_code == 'sv' %}30 dagars returrätt{% else %}30-Days Returns{% endif %}</p>
                </div>
                <div class="bundle__cart-elem">
                    <svg class="bundle__cart-icon" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 27.125S1.125 22.313 1.125 17.5V6.125c0-2.023 1.02-3.19 2.625-3.5L12.5.875l8.75 1.75c1.605.31 2.625 1.477 2.625 3.5V17.5c0 4.813-11.375 9.625-11.375 9.625Z" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/><path d="m7.444 14.3 4.075 4.075 6.037-6.037M1.125 9.625c0-2.023 1.02-3.19 2.625-3.5l8.75-1.75 8.75 1.75c1.605.31 2.625 1.477 2.625 3.5M12.5.875v3.5" stroke="#121212" stroke-width="2" stroke-miterlimit="10"/>
                    </svg>
                    <p class="bundle__cart-text">{% if request.locale.iso_code == 'sv' %}Nöjdhetsgaranti{% else %}Satisfaction Guarantee{% endif %}</p>
                </div>
            </div>
            <div class="bundle__cart-verified">
                <div class="bundle__cart-verified-image">
                    <img src="{{ 'recommend.svg' | asset_url }}" alt="img">
                </div>
                <div class="bundle__cart-verified-wrapper">
                    <p class="bundle__cart-verified-caption">{% if request.locale.iso_code == 'sv' %}Din beställning är skyddad av{% else %}Your order is protected by{% endif %}</p>
                    <p class="bundle__cart-verified-title">{% if request.locale.iso_code == 'sv' %}10-matchers pengarna tillbaka-garanti{% else %}10-Game Money Back Guarantee{% endif %}</p>
                    <p class="bundle__cart-verified-subtitle">{% if request.locale.iso_code == 'sv' %}Om du av någon anledning inte är nöjd med våra handskar kan du returnera dem och få full återbetalning{% else %}If for any reason you don’t like our glove, you can return it and receive a full refund.{% endif %}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-popup-image class="bundle__image">
    <button data-prev class="bundle__image-prev">
        <img src="{{ 'arrow-black.svg' | asset_url }}" alt="">
    </button>
    <img id="image" src="" alt="">
    <button data-next class="bundle__image-next">
        <img src="{{ 'arrow-black.svg' | asset_url }}" alt="">
    </button>
</div>

<div class="popup__helps">
    <div class="popup__help-content">
        <button
            data-modal="abcd"
            class="popup__help-close"
        >
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17">
                <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
                </path>
            </svg>
        </button>
        <h1 class="popup__help-title">Size Guide</h1>
        <div class="content" data-content="0">
            {{ section.settings.page_1.content }}
        </div>
        <div class="content" data-content="1">
            {{ section.settings.page_2.content }}
            {{ section.settings.page_3.content }}
            {{ section.settings.page_4.content }}
        </div>
    </div>
</div>

<style>
    .popup__helps .content{
        display: none;
    }

    .popup__helps .popup__help-content{
        max-width: 450px;
    }

    @media (max-width: 750px) {
        .popup__helps img{
            width: 90% !important;
        }

        .popup__helps .popup__help-content{
            max-width: 90%;
        }

        .content p{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
</style>

<div class="content">
    <div class="glove">
        {{ section.settings.page_1.content }}
    </div>
    <div class="short">
        {{ section.settings.page_2.content }}
    </div>
    <div class="top">
        {{ section.settings.page_3.content }}
    </div>
    <div class="trouser">
        {{ section.settings.page_4.content }}
    </div>
</div>

<style>
    .content div,
    .loox-information{
        display: none;
    }
</style>

<div class="loox-information">
    <div class="wrapper">
        {% for product in section.settings.collection_1.products %}
            <div data-reviews="{{ product.id }}">
            <div class="loox-rating"
                data-id="{{ product.id }}"
                data-rating="{{ product.metafields.loox.avg_rating }}"
                data-raters="{{ product.metafields.loox.num_reviews }}">
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="wrapper">
        {% for product in section.settings.collection_2.products %}
            <div data-reviews="{{ product.id }}">
            <div class="loox-rating"
                data-id="{{ product.id }}"
                data-rating="{{ product.metafields.loox.avg_rating }}"
                data-raters="{{ product.metafields.loox.num_reviews }}">
            </div>
            </div>
        {% endfor %}
    </div>
    <div class="wrapper">
        {% for product in section.settings.collection_3.products %}
            <div data-reviews="{{ product.id }}">
            <div class="loox-rating"
                data-id="{{ product.id }}"
                data-rating="{{ product.metafields.loox.avg_rating }}"
                data-raters="{{ product.metafields.loox.num_reviews }}">
            </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    const list = [
        {% for product in section.settings.collection_1.products %}
        {
            type: "glove",
            id: "{{ product.id }}",
            tags: [
                {% for tag in product.tags %}
                    "{{ tag }}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            glove_type: "{{ product.metafields.custom.glove_type }}",
            title: "{{ product.title | escape }}",
            price: "{{ product.price | money | strip_html }}",
            images: [
                {% for image in product.images %}
                "{{ image | img_url: 'medium' }}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            variants: [
                {% for variant in product.variants %}
                {
                    id: "{{ variant.id }}",
                    title: "{{ variant.title | escape }}",
                    price: "{{ variant.price | money_without_currency }}",
                    available: {{ variant.available | json }},
                    option1: "{{ variant.option1 | escape }}",
                    price: "{{ variant.price | money | strip_html }}",
                }{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            available: {{ product.available | json }}
        } ,
        {% endfor %}
        {% for product in section.settings.collection_2.products %}
        {
            type: "clothing",
            id: "{{ product.id }}",
            tags: [
                {% for tag in product.tags %}
                    "{{ tag }}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            title: "{{ product.title | escape }}",
            price: "{{ product.price | money | strip_html }}",
            images: [
                {% for image in product.images %}
                "{{ image | img_url: 'medium' }}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            variants: [
                {% for variant in product.variants %}
                {
                    id: "{{ variant.id }}",
                    title: "{{ variant.title | escape }}",
                    price: "{{ variant.price | money | strip_html }}",
                    available: {{ variant.available | json }},
                    option1: "{{ variant.option1 | escape }}",
                }{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            available: {{ product.available | json }},
            tags: {{ product.tags | json }}
        } ,
        {% endfor %}
        {% for product in section.settings.collection_3.products %}
        {
            type: "accessory",
            id: "{{ product.id }}",
            tags: [
                {% for tag in product.tags %}
                    "{{ tag }}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            title: "{{ product.title | escape }}",
            price: "{{ product.price | money | strip_html }}",
            images: [
                {% for image in product.images %}
                "{{ image | img_url: 'medium' }}"{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            variants: [
                {% for variant in product.variants %}
                {
                    id: "{{ variant.id }}",
                    title: "{{ variant.title | escape }}",
                    price: "{{ variant.price | money | strip_html }}",
                    available: {{ variant.available | json }},
                    option1: "{{ variant.option1 | escape }}",
                }{% if forloop.last == false %},{% endif %}
                {% endfor %}
            ],
            available: {{ product.available | json }}
        }{% if forloop.last == false %},{% endif %}
        {% endfor %}
    ];
</script>

<div class="another">
  <div class="another__content">
    <button class="another__close">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
        <path d="M28.147 9.49612L26.0581 7.40723L17.7766 15.6887L9.49514 7.40723L7.40625 9.49612L15.6877 17.7776L7.40625 26.0591L9.49514 28.148L17.7766 19.8665L26.0581 28.148L28.147 26.0591L19.8655 17.7776L28.147 9.49612Z" fill="#202020"/>
      </svg>
    </button>
    <h1 class="another__title">WOULD YOU LIKE TO ADD ANOTHER PAIR OF GLOVES?</h1>
    <div class="another__wrapper">
      <div class="swiper">
        <div class="swiper-wrapper">
          {% for product in collections['gloves'].products %}
            <div class="swiper-slide">
              <div class="another__item">
                  {% if product.tags contains 'fingersave' %}
                      <span class="card-top-badge">Fingersave</span>
                  {% elsif product.tags contains 'best-seller' %}
                      <span class="card-top-badge">Best Seller</span>
                  {% elsif product.tags contains 'new-in' %}
                      <span class="card-top-badge">New In</span>
                  {% endif %}
                  <div class="section-glove__image">
                      <img src="{{ product.images[0] | img_url: 'medium' }}" alt="{{ product.title }}" />
                  </div>
                  <div class="loox-rating"
                      data-id="{{ product.id }}"
                      data-rating="{{ product.metafields.loox.avg_rating }}"
                      data-raters="{{ product.metafields.loox.num_reviews }}">
                  </div>
                  <p class="section-glove__caption">{{ product.title }}</p>
                  <p class="section-glove__type">{{ product.metafields.custom.glove_type }}</p>
                  <p class="section-glove__text">Size:</p>
                  <div class="section-glove__wrapp">
                      <select name="variant-id" data-select class="section-glove__select">
                          {% for variant in product.variants %}
                              <option 
                                  value="{{ variant.id }}" 
                                  {% unless variant.available %}disabled{% endunless %}
                              >
                                  {{ variant.option1 }}
                              </option>
                          {% endfor %}
                      </select>
                      <button data-button data-buttonPopup="{{ product.id }}" class="section-glove__button special">
                          Add | {{ product.price | money }}
                      </button>
                  </div>
              </div>
            </div>
          {% endfor %}
        </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <div class="another__buttons">
      <button class="another__button">No Thanks, I'll Pass</button>
    </div>
  </div>
</div>

<style>
  .section-glove__caption{
    font-weight: 400 !important;
  }

  .another{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100000000;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s all;
  }

  .another.active{
    opacity: 1;
    pointer-events: all;
  }

  .another__content{
    max-width: 850px;
    background-color: rgba(255, 255, 255, 1);
    padding: 35px 45px 15px 45px;
    position: relative;
    border-radius: 15px;
  }

  .another__close{
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
  }

  .swiper,
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide img{
    width: 100%;
  }

  .another__title{
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .another__title,
  .another__title span{
    font-family: "Anton" !important;
    font-size: 32px;
    text-align: center;
  }

  .another__title span{
    color: rgba(215, 85, 85, 1);
  }

  .another__wrapper{
    position: relative;
  }

  .swiper-button-next{
    right: -5px !important;
    transform: translateX(100%) !important;
  }

  .swiper-button-prev{
    left: -5px !important;
    transform: translateX(-100%) !important;
  }

  .swiper-button-next:after, .swiper-button-prev:after{
    color: #000;
    font-size: 24px !important;
  }

  .another__wrapper{
    margin-bottom: 15px;
  }

  .another__button{
    display: block;
    margin: 0 auto;
    color: rgba(118, 118, 118, 1);
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 12px;
    text-transform: none;
    font-family: "Arial" !important;
    text-decoration: underline;
  }

  .another__item{
    background-color: rgba(240, 240, 240, 1);
    border-radius: 10px;
    padding: 20px 15px;
  }

  .card-top-badge{
    top: 15px !important;
    left: 15px !important;
  }

  @media (max-width: 750px) {
    .card-top-badge{
        top: 10px !important;
        left: 10px !important;
    }

    .another__content{
      max-width: 325px;
    }

    .another__title, .another__title span{
      font-size: 20px;
    }

    .another__title{
      max-width: 225px;
    }

    .another__content{
      padding: 20px 30px;
    }

    .swiper-button-next{
      right: 0 !important;
    }

    .swiper-button-prev{
      left: 0 !important;
    }

    .swiper-button-next:after, .swiper-button-prev:after{
      color: #000;
      font-size: 20px !important;
    }

    .another__button{
      font-size: 12px;
    }

    .another__close{
      top: 0;
      right: 5px;
      width: 20px;
    }

    .another__close svg{
      width: 100%;
    }
  }
</style>

{{ 'section-bundle.js' | asset_url | script_tag }}

{% schema %}
{
    "name": "section-bundle",
    "tag": "section",
    "class": "bundle",
    "settings": [
        {
            "type": "collection",
            "id": "collection_1",
            "label": "Collection 1"
        },
        {
            "type": "collection",
            "id": "collection_2",
            "label": "Collection 2"
        },
        {
            "type": "collection",
            "id": "collection_3",
            "label": "Collection 3"
        },
        {
            "id": "page_1",
            "type": "page",
            "label": "Page 1"
        },
        {
            "id": "page_2",
            "type": "page",
            "label": "Page 2"
        },
        {
            "id": "page_3",
            "type": "page",
            "label": "Page 3"
        },
        {
            "id": "page_4",
            "type": "page",
            "label": "Page 4"
        },
        {
            "id": "link",
            "type": "url",
            "label": "Link"
        }
    ],
    "presets" : [
        {
            "name" : "section-bundle",
            "category" : "Custom"
        }
    ]
}
{% endschema %}