{{ 'section-bundle-glove.css' | asset_url | stylesheet_tag }}
{{ 'section-bundle.css' | asset_url | stylesheet_tag }}

<div class="section-banner__wrapper">
    <div class="section-banner__wrap">
        <p class="section-banner__caption">
            <svg xmlns="http://www.w3.org/2000/svg" width="104" height="19" viewBox="0 0 104 19" fill="none">
                <path d="M10.3736 0.124023L12.7026 6.49131H20.2394L14.142 10.4265L16.471 16.7938L10.3736 12.8586L4.27614 16.7938L6.60515 10.4265L0.507718 6.49131H8.04456L10.3736 0.124023Z" fill="white"/>
                <path d="M31.1206 0.124023L33.4496 6.49131H40.9865L34.8891 10.4265L37.2181 16.7938L31.1206 12.8586L25.0232 16.7938L27.3522 10.4265L21.2548 6.49131H28.7916L31.1206 0.124023Z" fill="white"/>
                <path d="M51.8677 0.124023L54.1967 6.49131H61.7336L55.6361 10.4265L57.9651 16.7938L51.8677 12.8586L45.7703 16.7938L48.0993 10.4265L42.0019 6.49131H49.5387L51.8677 0.124023Z" fill="white"/>
                <path d="M72.6148 0.124023L74.9438 6.49131H82.4806L76.3832 10.4265L78.7122 16.7938L72.6148 12.8586L66.5173 16.7938L68.8464 10.4265L62.7489 6.49131H70.2858L72.6148 0.124023Z" fill="white"/>
                <path d="M93.3618 0.124023L95.6909 6.49131H103.228L97.1303 10.4265L99.4593 16.7938L93.3618 12.8586L87.2644 16.7938L89.5934 10.4265L83.496 6.49131H91.0328L93.3618 0.124023Z" fill="white"/>
            </svg>
            Trusted by 20,000+ Keepers
        </p>
        <h2 class="section-banner__title">Build your own glove bundle</h2>
        <div class="section-banner__items">
            <div class="section-banner__item">
                <p class="section-banner__pair">2 Pairs</p>
                <div class="section-banner__prices">
                    <p class="section-banner__prevprice">
                        {% if cart.currency.iso_code == "USD" %}
                            $148.75
                        {% elsif cart.currency.iso_code == "EUR" %}
                            €130.87
                        {% else %}
                            £109.89
                        {% endif %}
                    </p>
                    <p class="section-banner__price">
                        {% if cart.currency.iso_code == "USD" %}
                            $121.82
                        {% elsif cart.currency.iso_code == "EUR" %}
                            €107.18
                        {% else %}
                            £90.00
                        {% endif %}
                    </p>
                </div>
                <p class="section-banner__description">Most Popular</p>
                <div class="section-banner__discount">Save 25%</div>
            </div>
            <div class="section-banner__item">
                <p class="section-banner__pair">3 Pairs</p>
                <div class="section-banner__prices">
                    <p class="section-banner__prevprice">
                        {% if cart.currency.iso_code == "USD" %}
                            $274.71
                        {% elsif cart.currency.iso_code == "EUR" %}
                            €241.69
                        {% else %}
                            £202.95
                        {% endif %}
                    </p>
                    <p class="section-banner__price">
                        {% if cart.currency.iso_code == "USD" %}
                            $162.43
                        {% elsif cart.currency.iso_code == "EUR" %}
                            €142.91
                        {% else %}
                            £120.00
                        {% endif %}
                    </p>
                </div>
                <p class="section-banner__description">Best Value</p>
                <div class="section-banner__discount">Save 53%</div>
            </div>
            <div class="section-banner__item active">
                <p class="section-banner__pair">4 Pairs</p>
                <div class="section-banner__prices">
                    <p class="section-banner__prevprice">
                        {% if cart.currency.iso_code == "USD" %}
                            $297.74
                        {% elsif cart.currency.iso_code == "EUR" %}
                            €261.95
                        {% else %}
                            £219.96
                        {% endif %}
                    </p>
                    <p class="section-banner__price">
                        {% if cart.currency.iso_code == "USD" %}
                            $203.04
                        {% elsif cart.currency.iso_code == "EUR" %}
                            €178.64
                        {% else %}
                            £150.00
                        {% endif %}
                    </p>
                </div>
                <p class="section-banner__description">Best Deal</p>
                <div class="section-banner__discount">Save 62%</div>
            </div>
        </div>
    </div>
    <div class="section-banner__image">
        <img src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/9e99c6aa54c0c6bee5c0d35d121f728316024759.jpg?v=1750169553" alt="photo">
        <img src="https://cdn.shopify.com/s/files/1/0667/5877/0944/files/7fa49ddc3cad618226b9f9c512c2f9308991fa30.jpg?v=1750169552" alt="photo">
    </div>
</div>

<div class="page-width">
    <div class="section-glove__wrapper">
        <div class="section-glove__items">
            {% for product in collections['gloves'].products %}
                <div class="section-glove__item">
                    {% if product.tags contains 'fingersave' %}
                        <span class="card-top-badge">Fingersave</span>
                    {% elsif product.tags contains 'best-seller' %}
                        <span class="card-top-badge">Best Seller</span>
                    {% elsif product.tags contains 'new-in' %}
                        <span class="card-top-badge">New In</span>
                    {% endif %}
                    <div class="section-glove__image">
                        <img src="{{ product.images[0] | img_url: 'medium' }}" alt="{{ product.title }}" />
                    </div>
                    <div class="loox-rating"
                        data-id="{{ product.id }}"
                        data-rating="{{ product.metafields.loox.avg_rating }}"
                        data-raters="{{ product.metafields.loox.num_reviews }}">
                    </div>
                    <p class="section-glove__caption">{{ product.title }}</p>
                    <p class="section-glove__type">{{ product.metafields.custom.glove_type }}</p>
                    <div class="section-glove__wrapp">
                        <select name="variant-id" class="section-glove__select">
                            {% for variant in product.variants %}
                                <option 
                                    value="{{ variant.id }}" 
                                    {% unless variant.available %}disabled{% endunless %}
                                >
                                    {{ variant.option1 }}
                                </option>
                            {% endfor %}
                        </select>
                        <button data-buttonPopup="{{ product.id }}" class="section-glove__button">
                            Add | {{ product.price | money }}
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="section-glove__wrap">
            <div class="section-glove__bundle">
                <h1 class="section-glove__title">Your bundle</h1>
                <div class="section-glove__content">
                    <div class="section-glove__list">
                        <div class="section-glove__element empty">
                            <div class="section-glove__photo"><p>GLOVE </p><span>1</span></div>
                        </div>
                        <div class="section-glove__element empty">
                            <div class="section-glove__photo"><p>GLOVE </p><span>2</span></div>
                        </div>
                        <div class="section-glove__element empty">
                            <div class="section-glove__photo"><p>GLOVE </p><span>3</span></div>
                        </div>
                        <div class="section-glove__element empty">
                            <div class="section-glove__photo"><p>GLOVE </p><span>4</span></div>
                        </div>
                    </div>
                    <div class="section-glove__footer">
                        <div class="section-glove__info">
                            <p class="section-glove__t">Total Price</p>
                            <div class="section-glove__prices">
                                <p class="section-glove__cost">
                                    {% if cart.currency.iso_code == "USD" %}
                                        $203.04
                                    {% elsif cart.currency.iso_code == "EUR" %}
                                        €178.64
                                    {% else %}
                                        £150.00
                                    {% endif %}
                                </p>
                                <p class="section-glove__prevcost">
                                    {% if cart.currency.iso_code == "USD" %}
                                        $297.74
                                    {% elsif cart.currency.iso_code == "EUR" %}
                                        €261.95
                                    {% else %}
                                        £219.96
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <button disabled class="section-glove__submit">submit bundle</button>
                        <img class="section-glove__img" src="{{ 'payment.svg' | asset_url }}" alt="payment">
                    </div>
                </div>
            </div>
            <div class="banners">
                <div class="banners__item">
                  <img src="{{ 'icon-1.svg' | asset_url }}" alt="icon" />
                  <p class="banners__text">Fast Shipping</p>
                </div>
                <div class="banners__item">
                  <img src="{{ 'icon-2.svg' | asset_url }}" alt="icon" />
                  <p class="banners__text">Money-Back Guarantee</p>
                </div>
                <div class="banners__item">
                  <img src="{{ 'icon-3.svg' | asset_url }}" alt="icon" />
                  <p class="banners__text">Trusted by Pro Players</p>
                </div>
                <div class="banners__item">
                  <img src="{{ 'icon-4.svg' | asset_url }}" alt="icon" />
                  <p class="banners__text">20,000+ Satisfied Keepers</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .bundle__products-title,
    .bundle__products-subtitle,
    .bundle__products-price{
        text-align: center !important;
    }
</style>

<style>
    .desktop-tabs__item .desktop-tabs__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
        font-size: 14px;
        padding: 5px 15px;
        border-top: .5px solid grey;
        border-bottom: .5px solid grey;
        cursor: pointer;
    }

    .desktop-tabs__item{
        margin-bottom: 5px;
    }

    .desktop-tabs__item div{
        display: none;
        padding: 15px 0;
    }

    .desktop-tabs__item h1{
        font-size: 12px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 5px;
    }

    .desktop-tabs__item p{
        font-size: 10px;
        margin: 0;
        margin-bottom: 5px;
    }

    .desktop-tabs__item.active div{
        display: block;
    }

    .desktop-tabs__item.active svg{
        transform: rotate(180deg);
    }

    .desktop-tabs{
        margin-bottom: 15px;
        margin-top: -5px;
    }

    @media (max-width: 750px) {
        .desktop-tabs__content *{
            font-size: 8px;
            line-height: 10px;
        }
    }
</style>

<script>
    const items = document.querySelectorAll(".desktop-tabs__item");
    const tags = document.querySelectorAll(".desktop-tabs__item [data-title]");

    tags.forEach((tag, i) => {
        tag.addEventListener("click", (e) => {
            const bool = items[i].classList.contains("active");

            items.forEach(item => {
                item.classList.remove("active");
            });

            if(!bool)
                items[i].classList.add("active");
        });
    });

    items.forEach(item => {
        item.classList.remove("active");
    });
</script>

{{ 'section-bundle-glove.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "section-bundle-glove",
        "tag": "section",
        "class": "section-bundle-glove",
        "settings": [
            {
                "id": "page",
                "type": "page",
                "label": "Page"
            }
        ],
        "presets" : [
            {
                "name" : "section-bundle-glove",
                "category" : "Custom"
            }
        ]
    }
{% endschema %}