{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<div class="banner__container container bundle">
    <div class="banner__wrapper">
        <div class="banner__main">
            <div class="banner__logo">
                <img src="{{ 'logo-black.svg' | asset_url }}" alt="logo">
            </div>
            <div class="bunner__wrap">
                <img src="{{ 'thg_clothing.svg' | asset_url }}" alt="">
            </div>
            <h1 class="banner__title">ACADEMY PACK</h1>
            <h2 class="banner__subtitle">the best deal in goalkeeping</h2>
            <h3 class="banner__caption">5 for
                {% if cart.currency.iso_code == "USD" %}
                    $170.00
                {% elsif cart.currency.iso_code == "EUR" %}
                    €155.00
                {% else %}
                    £120.00
                {% endif %}
            </h3>
        </div>
        <div class="banner__image">
            <img src="{{ section.settings.banner-photo | img_url: 'original' }}" alt="banner_photo">
        </div>
        <p class="banner__item">PAIR OF GLOVES  |  3X CLOTHING  |  1X ACCESSORY</p>
    </div>
</div>

<style>
    .banner{
        background: url("{{ section.settings.banner-background-photo | img_url: 'original' }}")50% 50%/cover no-repeat;
    }
</style>

{% schema %}
{
    "name": "section-banner",
    "tag": "section",
    "class": "banner",
    "settings": [
        {
            "id" : "banner-background-photo",
            "type" : "image_picker",
            "label" : "Background photo" 
        },
        {
            "id" : "banner-photo",
            "type" : "image_picker",
            "label" : "Photo" 
        }
    ],
    "presets" : [
        {
            "name" : "section-banner",
            "category" : "Custom"
        }
    ]
}
{% endschema %}