{{ 'section-video.css' | asset_url | stylesheet_tag }}

<div class="video__wrapper {% if section.settings.is_centered %}center{% endif %}">
    {% for block in section.blocks %}
        {% if block.type == 'row' %}
            <a href="{{ block.settings['content-product'].url }}" class="video__item">
                <div class="video__video">
                    <video playsinline autoplay muted loop style="max-width: 100%;">
                        <source src="{{ block.settings['content-video'] }}" type="video/mp4">
                    </video>
                </div>
                <div class="video__information">
                    <div class="video__image">
                        <img src="{{ block.settings['content-product'].featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
                    </div>
                    <div class="video__description">
                        <p class="video__tag">{{ block.settings['content-title'] }}</p>
                        <p class="video__title">{{ block.settings['content-product'].title }}</p>
                    </div>
                </div>
            </a>
        {% endif %}
    {% endfor %}
</div>

{{ 'section-video.js' | asset_url | script_tag }}

{% schema %}
    {
        "name": "section-video",
        "tag": "section",
        "class": "section-video",
        "settings": [
            {
                "type": "checkbox",
                "id": "is_centered",
                "label": "Is center",
                "default": false
            }
        ],
        "blocks": [
            {
                "type": "row",
                "name": "Content",
                "settings": 
                    [
                        {
                            "id": "content-title",
                            "type": "text",
                            "label": "Title",
                            "default": "@hundredgk"
                        },
                        {
                            "id": "content-video",
                            "type": "text",
                            "label": "Video URL"
                        },
                        {
                            "id": "content-product",
                            "type": "product",
                            "label": "Product"
                        }
                    ]
            }
        ],
        "presets" : [
            {
                "name" : "section-video",
                "category" : "Custom"
            }
        ]
    }
{% endschema %}